<template>
  <div id="app">
    <div id="nav">
      <p>这是一个测试页面</p>
      <router-link to="/">点此返回登陆页面</router-link>
      <P></p>
      <router-link to="/manager">manager</router-link>
      <P></p>
      <router-link to="/waiter">waiter</router-link>
      <P></p>
      <router-link to="/host">host</router-link>
      <P></p>
      <router-link to="/busboy">busboy</router-link>
      <P></p>
      <router-link to="/cook">cook</router-link>
      <P></p>
    </div>
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'Test'
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}
