<template>
<a-layout>
    <a-layout-header id='cook-header'>Cook
      <a-icon type="bar-chart" />
      Terminal</a-layout-header>
    <a-layout-content id='cook-content'>
      <div style="margin-top: 10px; width: 10%;">
        <a-avatar shape="square" style="color: white; backgroundColor: #f47920">
          R
        </a-avatar>
        <span>
        RACT
        </span>
      </div>
      <a-tabs default-active-key="1" style="width: 80%; " size="large">
        <a-tab-pane key="1">
          <span slot="tab">
            <a-icon type="ordered-list" />
            工作区
          </span>
          <div style="width: 100%; margin-top: 40px; overflow:hidden; background: white">
          <a-page-header
            style="border: 1px solid rgb(235, 237, 240)"
            title="以下是您需要完成的菜品"
            sub-title="单击“已完成”通知服务员取餐"
          />
            <a-table :columns="columns" :data-source="orderList" style="margin-top: 20px;">
              <span slot="action" slot-scope="record">
                <a @click="finishOrder(record)">已完成</a>
              </span>
            </a-table>
          </div>
        </a-tab-pane>
        <a-tab-pane key="2">
          <span slot="tab">
            <a-icon type="robot" />
            终端
          </span>
          <div style="width: 100%; margin-top: 40px; overflow:hidden; background: white">
            <a-avatar shape="square" :size="64" style="margin-top: 10px; color: white; backgroundColor: #f47920">
              Cook
            </a-avatar>
            <p></p>
            <span style="display: block; margin-left: 15px; margin-right: 15px; font-size:20px;">{{ thisAccount }}</span>
            <a @click="setModifyPasswordVisible">修改密码</a>
            <a-divider />
            <span style="display: block; margin-left: 15px; margin-right: 15px; font-size:20px;">{{ thisStaff.name }}</span>
            <a-divider />
            <span style="display: block; margin-left: 15px; margin-right: 15px; font-size:20px;">{{ thisStaff.position }}</span>
            <p></p>
            <a-button type="primary"
            style="width: 300px; height: 50px; margin-top: 20px; font-size: 20px; margin-bottom: 50px;"
            @click="signOut"
            >
              退 出
            </a-button>
          </div>
        </a-tab-pane>
      </a-tabs>
      <div style="margin-top: 10px; width: 10%">
        <a-avatar size="large" style="color: #f56a00; backgroundColor: #fde3cf">
          C
        </a-avatar>
      </div>
    </a-layout-content>
    <a-layout-footer id="cook-bottom">
    </a-layout-footer>
    <a-modal v-model="modifyPasswordVisible" title="修改密码">
      <template slot="footer">
        <a-button key="back" @click="setModifyPasswordNotVisible">
          返 回
        </a-button>
        <a-button key="submit" type="primary" @click="modifyPassword">
          提 交
        </a-button>
      </template>
      <a-input addonBefore="输入当前密码：" v-model="checkPassword" type="password"/>
      <a-input addonBefore="输入新密码：" v-model="modifiedPassword" type="password" style="margin-top: 10px"/>
    </a-modal>
  </a-layout>
</template>
<script>
const columns = [
  {
    title: '取餐号',
    dataIndex: 'index',
    key: 'index'
  },
  {
    title: '菜名',
    dataIndex: 'name',
    key: 'name'
  },
  {
    title: '桌号',
    dataIndex: 'table',
    key: 'table',
    width: 80
  },
  {
    title: '服务员',
    dataIndex: 'waiterName',
    key: 'waiterName',
    ellipsis: true
  },
  {
    key: 'action',
    scopedSlots: { customRender: 'action' }
  }
]
export default {
  data () {
    return {
      thisAccount: '',
      collapsed: false,
      contentId: 0,
      columns,
      thisStaff: '',
      modifyPasswordVisible: false,
      checkPassword: '',
      modifiedPassword: '',
      timer: '',
      orderList: []
    }
  },
  beforeCreate () {
    let checkLoginState = sessionStorage.getItem('loginState')
    if (checkLoginState !== 'cook') {
      this.$router.push('/')
    }
  },
  async created () {
    this.getData()
  },
  mounted () {
    this.timer = setInterval(this.getData, 1000)
  },
  methods: {
    signOut () {
      clearInterval(this.timer)
      sessionStorage.setItem('globalAccount', '')
      sessionStorage.setItem('loginState', '')
      this.$router.push('/')
    },
    async getData () {
      this.thisAccount = sessionStorage.getItem('globalAccount')
      const query = await this.$cloudbase.database().collection('staff')
        .where({
          account: this.thisAccount
        }).get()
      this.thisStaff = query.data[0]
      let res = await this.$cloudbase.database().collection('cookOrder')
        .where({
          cook: this.thisAccount
        }).get()
      this.orderList = res.data
    },
    orderInfo () {
      this.contentId = 0
    },
    setModifyPasswordVisible () {
      this.modifyPasswordVisible = true
    },
    setModifyPasswordNotVisible () {
      this.modifyPasswordVisible = false
    },
    checkPasswordError () {
      this.$notification.open({
        message: '修改失败！请检查当前密码是否正确或是否输入了新的密码',
        icon: <a-icon type="frown" style="color: red" />
      })
    },
    openNotification () {
      this.$notification.open({
        message: '修改成功！',
        icon: <a-icon type="smile" style="color: #108ee9" />
      })
    },
    async modifyPassword () {
      console.log(this.checkPassword)
      console.log(this.modifiedPassword)
      let res = await this.$cloudbase.database().collection('staff')
        .where({
          account: this.thisAccount
        }).get()
      let p = res.data[0]
      if (p.password === this.checkPassword && this.modifiedPassword !== '') {
        this.$cloudbase.database().collection('staff')
          .where({
            account: this.thisAccount
          }).update({ password: this.modifiedPassword })
        this.getData()
        this.modifyPasswordVisible = false
        this.openNotification()
      } else {
        this.checkPasswordError()
      }
    },
    finishOrder (record) {
      this.$cloudbase.database().collection('cookOrder')
        .where({
          index: record.index
        }).remove()
      this.$cloudbase.database().collection('waiterOrder')
        .add({
          index: record.index,
          name: record.name,
          table: record.table,
          cookName: this.thisStaff.name,
          waiter: record.waiter
        })
      this.getData()
    }
  }
}
</script>

<style>
#menu .logo {
  margin: 20px;
  display: flex;
  justify-content: center;
}
.content {
  padding: 24px;
  background: #fff;
  min-height: 620px;
  display: flex;
  flex-wrap: wrap;
}
.order {
  margin: 10px;
}
#cook-header {
  text-align: center;
  font-size: 30px;
  color: white;
  letter-spacing: 3px;
  background: #1890ff
}
#cook-content {
  display: flex
}
</style>
