<template>
  <a-layout>
    <a-layout-header id='manager-header'>Manager
      <a-icon type="bar-chart" />
      Terminal</a-layout-header>
    <a-layout-content id='manager-content'>
      <div style="margin-top: 10px; width: 10%;">
        <a-avatar shape="square" style="color: white; backgroundColor: #f47920">
          R
        </a-avatar>
        <span>
        RAMT
        </span>
      </div>
      <a-tabs default-active-key="1" style="width: 80%; " size="large">
        <a-tab-pane key="1">
          <span slot="tab">
            <a-icon type="home" />
            此餐厅
          </span>
          <div style="width: 100%; overflow:hidden; background: white">
            <div style="margin-top: 30px; width:100%;">
              <a-avatar shape="square" :size="64" style="color: white; backgroundColor: #f47920">
                R
              </a-avatar>
              <span style="margin-left: 15px; margin-right: 15px; font-size:20px;">{{ resAccount }}</span>
            </div>
            <div style="margin-top: 30px; width:100%;">
              <a-card title="餐厅名称" style="width: 60%; margin-left: 20%; margin-top: 10px; text-align: left; font-size: 30px;">
                <a slot="extra" href="#" @click="setModifyRestaurantNameVisible">修改</a>
                <p style="font-size: 20px;">{{ resName }}</p>
              </a-card>
              <a-divider />
              <a-card title="官方邮箱" style="width: 60%; margin-left: 20%; margin-top: 10px; text-align: left; font-size: 30px;">
                <a slot="extra" href="#" @click="setModifyRestaurantEmailVisible">修改</a>
                <p style="font-size: 20px;">{{ resEmail }}</p>
              </a-card>
              <a-divider />
              <a-card title="地址" style="width: 60%; margin-left: 20%; margin-top: 10px; text-align: left; font-size: 30px;">
                <a slot="extra" href="#" @click="setModifyRestaurantAddressVisible">修改</a>
                <p style="font-size: 20px;">{{ resAddress }}</p>
              </a-card>
              <a-divider />
              <a-card title="经理" style="width: 60%; margin-left: 20%; margin-top: 10px; text-align: left; font-size: 30px;">
                <p style="font-size: 20px;">{{ resManager }}</p>
              </a-card>
              <a-divider />
              <a-card title="营业时间" style="width: 60%; margin-left: 20%; margin-top: 10px; text-align: left; font-size: 30px;">
                <a slot="extra" href="#" @click="setModifyRestaurantOpeningTimeVisible">修改</a>
                <p style="font-size: 20px;">{{ resOpeningTime }}</p>
              </a-card>
              <a-divider />
              <a-card title="简介" style="width: 60%; margin-left: 20%; margin-top: 10px; text-align: left; font-size: 30px;">
                <a slot="extra" href="#" @click="setModifyRestaurantDiscriptionVisible">修改</a>
                <p style="font-size: 20px;">{{ resDescription }}</p>
              </a-card>
            </div>
          </div>
        </a-tab-pane>
        <a-tab-pane key="2">
          <span slot="tab">
            <a-icon type="team" />
            员工管理
          </span>
          <div style="width: 100%; background: white;">
            <a-page-header
              style="border: 1px solid rgb(235, 237, 240)"
              title="餐厅员工"
              sub-title="您可在此创建员工账号或管理已添加的员工"
            />
            <a-statistic title="员工数" :value=staffNum style=" margin-top: 20px;" />
            <a-button type="dashed" @click="addStaffShow">
              添加员工
            </a-button>
            <div style="width: 100%; margin-top: 40px;">
              <a-collapse accordion>
                <a-collapse-panel key="1" header="Host">
                <a-statistic title="Host" :value=hostNum style=" margin-top: 20px;" />
                  <a-table :columns="columns" :data-source="hostList" style="margin-top: 20px;">
                    <span slot="action" slot-scope="record">
                      <a @click="getCurrentStaff(record)">管理</a>
                      <a-divider type="vertical" />
                      <a @click="setDeleteStaffVisible(record)">删除</a>
                    </span>
                  </a-table>
                </a-collapse-panel>
                <a-collapse-panel key="2" header="Waiter">
                <a-statistic title="Waiter" :value=waiterNum style=" margin-top: 20px;" />
                  <a-table :columns="columns" :data-source="waiterList" style="margin-top: 20px;">
                    <span slot="action" slot-scope="record">
                      <a @click="getCurrentStaff(record)">管理</a>
                      <a-divider type="vertical" />
                      <a @click="setDeleteStaffVisible(record)">删除</a>
                    </span>
                  </a-table>
                </a-collapse-panel>
                <a-collapse-panel key="3" header="BusBoy">
                <a-statistic title="BusBoy" :value=busboyNum style=" margin-top: 20px;" />
                  <a-table :columns="columns" :data-source="busboyList" style="margin-top: 20px;">
                    <span slot="action" slot-scope="record">
                      <a @click="getCurrentStaff(record)">管理</a>
                      <a-divider type="vertical" />
                      <a @click="setDeleteStaffVisible(record)">删除</a>
                    </span>
                  </a-table>
                </a-collapse-panel>
                <a-collapse-panel key="4" header="Cook">
                <a-statistic title="Cook" :value=cookNum style=" margin-top: 20px;" />
                  <a-table :columns="columns" :data-source="cookList" style="margin-top: 20px;">
                    <span slot="action" slot-scope="record">
                      <a @click="getCurrentStaff(record)">管理</a>
                      <a-divider type="vertical" />
                      <a @click="setDeleteStaffVisible(record)">删除</a>
                    </span>
                  </a-table>
                </a-collapse-panel>
              </a-collapse>
            </div>
          </div>
        </a-tab-pane>
        <a-tab-pane key="3">
          <span slot="tab">
            <a-icon type="ordered-list" />
            餐厅流水
          </span>
          <div style="width: 100%; overflow:hidden;">
          <a-page-header
            style="border: 1px solid rgb(235, 237, 240)"
            title="餐厅流水"
          />
            选择日期
            <a-divider type="vertical" />
            <a-date-picker @change="onChangeDate" />
            <a-divider type="vertical" />
            <a @click="selectAllDate">显示全部</a>
            <br />
            <a-table :columns="columns2" :data-source="managerData" style="margin-top: 20px;">
            </a-table>
            <a-statistic title="当日收支" :value="selectedIncome" style="margin-right: 50px" />
          <a-divider />
          <a-statistic title="总收支" :value="totalIncome" style="margin-right: 50px" />
          </div>
        </a-tab-pane>
        <a-tab-pane key="4">
          <span slot="tab">
            <a-icon type="robot" />
            终端
          </span>
          <div style="width: 100%; margin-top: 40px; overflow:hidden; background: white">
            <a-avatar shape="square" :size="64" style="margin-top: 10px; color: white; backgroundColor: #f47920">
              Manager
            </a-avatar>
            <p></p>
            <span style="display: block; margin-left: 15px; margin-right: 15px; font-size:20px;">{{ thisAccount }}</span>
            <a @click="setModifyPasswordVisible">修改密码</a>
            <a-divider />
            <span style="display: block; margin-left: 15px; margin-right: 15px; font-size:20px;">{{ thisStaff.name }}</span>
            <a-divider />
            <span style="display: block; margin-left: 15px; margin-right: 15px; font-size:20px;">{{ thisStaff.position }}</span>
            <p></p>
            <a-button type="primary"
            style="width: 300px; height: 50px; margin-top: 20px; font-size: 20px; margin-bottom: 50px;"
            @click="signOut"
            >
              退 出
            </a-button>
          </div>
        </a-tab-pane>
      </a-tabs>
      <div style="margin-top: 10px; width: 10%">
        <a-avatar size="large" style="color: #f56a00; backgroundColor: #fde3cf">
          M
        </a-avatar>
      </div>
    </a-layout-content>
    <a-layout-footer id="manager-bottom">
    </a-layout-footer>
    <a-modal v-model="addStaffVisible" title="添加员工">
      <a-avatar shape="circle" :size="64" style="color: white; backgroundColor: #f47920; left: 43%">
        U+
      </a-avatar>
      <template slot="footer">
        <a-button key="back" @click="addStaffBack">
          返回
        </a-button>
        <a-button key="submit" type="primary" @click="addStaffSubmit">
          提交
        </a-button>
      </template>
      <a-form :label-col="labelCol" :wrapper-col="wrapperCol" @submit="addStaffSubmit" style="margin-top:20px; margin-left: 10%">
        <a-form-item
          label="姓 名"
        >
          <a-input
            v-model="newStaffName"
          />
        </a-form-item>
        <a-form-item label="性 别">
          <a-select
            v-model="newStaffGender"
          >
            <a-select-option value="男">
              男
            </a-select-option>
            <a-select-option value="女">
              女
            </a-select-option>
          </a-select>
        </a-form-item>
        <a-form-item label="年 龄">
          <a-select
            v-model="newStaffAge"
          >
            <a-select-option value=18>
              18
            </a-select-option>
            <a-select-option value=19>
              19
            </a-select-option>
            <a-select-option value=20>
              20
            </a-select-option>
            <a-select-option value=21>
              21
            </a-select-option>
            <a-select-option value=22>
              22
            </a-select-option>
            <a-select-option value=23>
              23
            </a-select-option>
            <a-select-option value=24>
              24
            </a-select-option>
            <a-select-option value=25>
              25
            </a-select-option>
            <a-select-option value=26>
              26
            </a-select-option>
            <a-select-option value=28>
              28
            </a-select-option>
            <a-select-option value=29>
              29
            </a-select-option>
            <a-select-option value=30>
              30
            </a-select-option>
            <a-select-option value=31>
              31
            </a-select-option>
            <a-select-option value=32>
              32
            </a-select-option>
            <a-select-option value=33>
              33
            </a-select-option>
            <a-select-option value=34>
              34
            </a-select-option>
            <a-select-option value=35>
              35
            </a-select-option>
            <a-select-option value=36>
              36
            </a-select-option>
          </a-select>
        </a-form-item>
        <a-form-item label="职 务">
          <a-select
             v-model="newStaffPosition"
          >
            <a-select-option value="host">
              Host
            </a-select-option>
            <a-select-option value="waiter">
              Waiter
            </a-select-option>
            <a-select-option value="busboy">
              BusBoy
            </a-select-option>
            <a-select-option value="cook">
              Cook
            </a-select-option>
          </a-select>
        </a-form-item>
        <a-form-item label="预 设 薪 资">
          <a-input-number
            v-model="newStaffSalary"
            :min="2000"
          />
          元
        </a-form-item>
      </a-form>
      <a-alert style="text-align: left; margin-top: 10px" message="请填写以上所有信息" banner />
    </a-modal>
    <a-modal v-model="addSuccsessVisible" title="添加成功" :footer="null">
      <a-result
        status="success"
        title="添加成功！以下是新的员工账号"
        sub-title="请将此账号与密码告知相应员工"
      >
        <p style="width: 100%; text-align: center; font-size: 20px;">
        {{ newStaffAccount }}
        </p>
        <p style="width: 100%; text-align: center">
        初始密码为： 123456
        </p>
        <template #extra>
          <a-button key="console" type="primary" style="width: 100%" @click="setSuccessNotVisible">
            确 定
          </a-button>
        </template>
      </a-result>
    </a-modal>
    <a-modal v-model="currentStaffVisible" title="Title">
      <a-avatar shape="circle" :size="64" style="color: white; backgroundColor: #f47920; left: 43%">
        {{ currentStaff.position }}
      </a-avatar>
      <template slot="footer">
        <a-button key="back" @click="currentStaffBack">
          Return
        </a-button>
      </template>
      <div style="width: 100%; margin-top: 30px; text-align: center">
        <p style="font-size: 20px; ">{{ currentStaff.account }}</p>
        <a-card size="small" title="姓名" style="width: 60%； margin-left: 20%">
          {{ currentStaff.name }}
        </a-card>
        <a-card size="small" title="邮箱" style="width: 60%； margin-left: 20%">
          {{ currentStaff.email }}
        </a-card>
        <a-card size="small" title="性别" style="width: 60%； margin-left: 20%">
          {{ currentStaff.gender }}
        </a-card>
        <a-card size="small" title="年龄" style="width: 60%； margin-left: 20%">
          {{ currentStaff.age }}
        </a-card>
        <a-card size="small" title="职务" style="width: 60%； margin-left: 20%">
          <a slot="extra" @click="modifyPositionVisible">调整</a>
          {{ currentStaff.position }}
        </a-card>
        <a-card size="small" title="薪资" style="width: 60%； margin-left: 20%">
          <a slot="extra" @click="modifySalaryVisible">调整</a>
          {{ currentStaff.salary }}
        </a-card>
        <a-card size="small" title="简介" style="width: 60%； margin-left: 20%">
          {{ currentStaff.description }}
        </a-card>
      </div>
    </a-modal>
    <a-modal v-model="changeStaffPositionVisible" title="职务设置">
      <template slot="footer">
        <a-button key="back" @click="modifyPositionNotVisible">
          返回
        </a-button>
        <a-button key="submit" type="primary" @click="modifyStaffPosition">
          确定
        </a-button>
      </template>
      <label>选择职务：</label>
      <a-select style="width: 120px" v-model="modifiedPosition">
        <a-select-option value="host">
          Host
        </a-select-option>
        <a-select-option value="waiter">
          Waiter
        </a-select-option>
        <a-select-option value="busboy">
          Busboy
        </a-select-option>
        <a-select-option value="cook">
          Cook
        </a-select-option>
      </a-select>
    </a-modal>
    <a-modal v-model="changeStaffSalaryVisible" title="薪资设置">
      <template slot="footer">
        <a-button key="back" @click="modifySalaryNotVisible">
          返回
        </a-button>
        <a-button key="submit" type="primary" @click="modifyStaffSalary">
          确定
        </a-button>
      </template>
      <label>设置薪资：</label>
      <a-input-number
          v-model="modifiedSalary"
          :min="2000"
        />
        元
    </a-modal>
    <a-modal v-model="deleteStaffVisible" title="删除员工">
      <template slot="footer">
        <a-button key="back" @click="setDeleteStaffNotVisible">
          取消
        </a-button>
        <a-button key="submit" type="primary" @click="deleteStaff">
          确定
        </a-button>
      </template>
      <p>请确定该员工已经离职</p>
    </a-modal>
    <a-modal v-model="modifyRestaurantNameVisible" title="修改餐厅名">
      <template slot="footer">
        <a-button key="back" @click="setModifyRestaurantNameNotVisible">
          返 回
        </a-button>
        <a-button key="submit" type="primary" @click="modifyRestaurantName">
          提 交
        </a-button>
      </template>
      <a-input addonBefore="输入新的餐厅名：" v-model="modifiedRestaurantName"/>
    </a-modal>
    <a-modal v-model="modifyRestaurantEmailVisible" title="修改餐厅邮箱">
      <template slot="footer">
        <a-button key="back" @click="setModifyRestaurantEmailNotVisible">
          返 回
        </a-button>
        <a-button key="submit" type="primary" @click="modifyRestaurantEmail">
          提 交
        </a-button>
      </template>
      <a-input v-model="modifiedRestaurantEmail" addonBefore="输入新邮箱：">
        <a-select slot="addonAfter" v-model="emailAddonAfter" default-value="@qq.com" style="width: 110px">
          <a-select-option value="@qq.com">
            @qq.com
          </a-select-option>
          <a-select-option value="@163.com">
            @163.com
          </a-select-option>
          <a-select-option value="@126.com">
            @126.com
          </a-select-option>
          <a-select-option value="@sina.com">
            @sina.com
          </a-select-option>
        </a-select>
      </a-input>
    </a-modal>
    <a-modal v-model="modifyRestaurantOpeningTimeVisible" title="修改餐厅营业时间">
      <template slot="footer">
        <a-button key="back" @click="setModifyRestaurantOpeningTimeNotVisible">
          返 回
        </a-button>
        <a-button key="submit" type="primary" @click="modifyRestaurantOpeningTime">
          提 交
        </a-button>
      </template>
      <span>选择营业时间:  </span>
      <a-select style="width: 120px" v-model="modifiedOpeningTime1">
        <a-select-option value="1:00">
          1:00
        </a-select-option>
        <a-select-option value="2:00">
          2:00
        </a-select-option>
        <a-select-option value="3:00">
          3:00
        </a-select-option>
        <a-select-option value="4:00">
          4:00
        </a-select-option>
        <a-select-option value="5:00">
          5:00
        </a-select-option>
        <a-select-option value="6:00">
          6:00
        </a-select-option>
        <a-select-option value="7:00">
          7:00
        </a-select-option>
        <a-select-option value="8:00">
          8:00
        </a-select-option>
        <a-select-option value="9:00">
          9:00
        </a-select-option>
        <a-select-option value="10:00">
          10:00
        </a-select-option>
        <a-select-option value="11:00">
          11:00
        </a-select-option>
        <a-select-option value="12:00">
          12:00
        </a-select-option>
        <a-select-option value="13:00">
          13:00
        </a-select-option>
        <a-select-option value="14:00">
          14:00
        </a-select-option>
        <a-select-option value="15:00">
          15:00
        </a-select-option>
        <a-select-option value="16:00">
          16:00
        </a-select-option>
        <a-select-option value="17:00">
          17:00
        </a-select-option>
        <a-select-option value="18:00">
          18:00
        </a-select-option>
        <a-select-option value="19:00">
          19:00
        </a-select-option>
        <a-select-option value="20:00">
          20:00
        </a-select-option>
        <a-select-option value="21:00">
          21:00
        </a-select-option>
        <a-select-option value="22:00">
          22:00
        </a-select-option>
        <a-select-option value="23:00">
          23:00
        </a-select-option>
        <a-select-option value="24:00">
          24:00
        </a-select-option>
      </a-select>
      至
      <a-select style="width: 120px" v-model="modifiedOpeningTime2">
        <a-select-option value="1:00">
          1:00
        </a-select-option>
        <a-select-option value="2:00">
          2:00
        </a-select-option>
        <a-select-option value="3:00">
          3:00
        </a-select-option>
        <a-select-option value="4:00">
          4:00
        </a-select-option>
        <a-select-option value="5:00">
          5:00
        </a-select-option>
        <a-select-option value="6:00">
          6:00
        </a-select-option>
        <a-select-option value="7:00">
          7:00
        </a-select-option>
        <a-select-option value="8:00">
          8:00
        </a-select-option>
        <a-select-option value="9:00">
          9:00
        </a-select-option>
        <a-select-option value="10:00">
          10:00
        </a-select-option>
        <a-select-option value="11:00">
          11:00
        </a-select-option>
        <a-select-option value="12:00">
          12:00
        </a-select-option>
        <a-select-option value="13:00">
          13:00
        </a-select-option>
        <a-select-option value="14:00">
          14:00
        </a-select-option>
        <a-select-option value="15:00">
          15:00
        </a-select-option>
        <a-select-option value="16:00">
          16:00
        </a-select-option>
        <a-select-option value="17:00">
          17:00
        </a-select-option>
        <a-select-option value="18:00">
          18:00
        </a-select-option>
        <a-select-option value="19:00">
          19:00
        </a-select-option>
        <a-select-option value="20:00">
          20:00
        </a-select-option>
        <a-select-option value="21:00">
          21:00
        </a-select-option>
        <a-select-option value="22:00">
          22:00
        </a-select-option>
        <a-select-option value="23:00">
          23:00
        </a-select-option>
        <a-select-option value="24:00">
          24:00
        </a-select-option>
      </a-select>
    </a-modal>
    <a-modal v-model="modifyRestaurantAddressVisible" title="修改餐厅地址">
      <template slot="footer">
        <a-button key="back" @click="setModifyRestaurantAddressNotVisible">
          返 回
        </a-button>
        <a-button key="submit" type="primary" @click="modifyRestaurantAddress">
          提 交
        </a-button>
      </template>
      <a-input addonBefore="输入新的餐厅地址：" v-model="modifiedRestaurantAddress"/>
    </a-modal>
    <a-modal v-model="modifyRestaurantDiscriptionVisible" title="修改餐厅地简介">
      <template slot="footer">
        <a-button key="back" @click="setModifyRestaurantDiscriptionNotVisible">
          返 回
        </a-button>
        <a-button key="submit" type="primary" @click="modifyRestaurantDiscription">
          提 交
        </a-button>
      </template>
      <span>新的简介：</span>
      <a-textarea v-model="modifiedRestaurantDiscription" :rows="4" />
    </a-modal>
    <a-modal v-model="modifyPasswordVisible" title="修改密码">
      <template slot="footer">
        <a-button key="back" @click="setModifyPasswordNotVisible">
          返 回
        </a-button>
        <a-button key="submit" type="primary" @click="modifyPassword">
          提 交
        </a-button>
      </template>
      <a-input addonBefore="输入当前密码：" v-model="checkPassword" type="password"/>
      <a-input addonBefore="输入新密码：" v-model="modifiedPassword" type="password" style="margin-top: 10px"/>
    </a-modal>
  </a-layout>
</template>

<script>

const columns = [
  {
    title: '姓名',
    dataIndex: 'name',
    key: 'name'
  },
  {
    title: '性别',
    dataIndex: 'gender',
    key: 'gender'
  },
  {
    title: '年龄',
    dataIndex: 'age',
    key: 'age'
  },
  {
    title: '职务',
    dataIndex: 'position',
    key: 'position'
  },
  {
    title: '薪资',
    dataIndex: 'salary',
    key: 'salary'
  },
  {
    key: 'action',
    scopedSlots: { customRender: 'action' }
  }
]
const columns2 = [
  {
    title: '桌号',
    dataIndex: 'table',
    key: 'table'
  },
  {
    title: '金额',
    dataIndex: 'value',
    key: 'value'
  },
  {
    title: '时间',
    dataIndex: 'time',
    key: 'time'
  }
]

export default {
  name: 'Manager',
  data () {
    return {
      columns,
      columns2,
      labelCol: {
        xs: { span: 24 },
        sm: { span: 5 }
      },
      wrapperCol: {
        xs: { span: 24 },
        sm: { span: 12 }
      },
      newStaffName: '',
      newStaffGender: '',
      newStaffAge: '',
      newStaffPosition: '',
      newStaffSalary: '',
      thisAccount: '',
      resAccount: '',
      resName: '',
      resManager: '',
      resEmail: '',
      resAddress: '',
      resOpeningTime: '',
      resDescription: '',
      thisStaff: '',
      staffNum: 0,
      waiterNum: 0,
      hostNum: 0,
      busboyNum: 0,
      cookNum: 0,
      hostList: [],
      waiterList: [],
      busboyList: [],
      cookList: [],
      addStaffVisible: false,
      addSuccsessVisible: false,
      newStaffAccount: '',
      currentStaffVisible: false,
      currentStaff: [],
      changeStaffPositionVisible: false,
      modifiedPosition: '',
      changeStaffSalaryVisible: false,
      modifiedSalary: '',
      deleteStaffVisible: false,
      modifyRestaurantNameVisible: false,
      modifiedRestaurantName: '',
      modifyRestaurantEmailVisible: false,
      modifiedRestaurantEmail: '',
      emailAddonAfter: '',
      modifyRestaurantAddressVisible: false,
      modifiedRestaurantAddress: '',
      modifyRestaurantDiscriptionVisible: false,
      modifiedRestaurantDiscription: '',
      modifyRestaurantOpeningTimeVisible: false,
      modifiedOpeningTime1: '',
      modifiedOpeningTime2: '',
      modifyPasswordVisible: false,
      checkPassword: '',
      modifiedPassword: '',
      timer: '',
      managerData: [],
      selectedDate: '',
      selectedIncome: '--',
      totalIncome: '--'
    }
  },
  beforeCreate () {
    let checkLoginState = sessionStorage.getItem('loginState')
    if (checkLoginState !== 'manager') {
      this.$router.push('/')
    }
  },
  async created () {
    this.getData()
  },
  mounted () {
    this.timer = setInterval(this.getData, 1000)
  },
  methods: {
    signOut () {
      clearInterval(this.timer)
      sessionStorage.setItem('globalAccount', '')
      sessionStorage.setItem('loginState', '')
      this.$router.push('/')
    },
    modifyPositionVisible () {
      this.changeStaffPositionVisible = true
    },
    modifyPositionNotVisible () {
      this.changeStaffPositionVisible = false
    },
    async modifyStaffPosition () {
      this.$cloudbase.database().collection('staff')
        .where({
          account: this.currentStaff.account
        }).update({ position: this.modifiedPosition })
      this.changeStaffPositionVisible = false
      this.currentStaffVisible = false
      this.getData()
    },
    modifySalaryVisible () {
      this.changeStaffSalaryVisible = true
    },
    modifySalaryNotVisible () {
      this.changeStaffSalaryVisible = false
    },
    async modifyStaffSalary () {
      this.$cloudbase.database().collection('staff')
        .where({
          account: this.currentStaff.account
        }).update({ salary: this.modifiedSalary })
      this.changeStaffSalaryVisible = false
      this.currentStaffVisible = false
      this.getData()
    },
    setDeleteStaffVisible (record) {
      this.currentStaff = record
      this.deleteStaffVisible = true
    },
    setDeleteStaffNotVisible () {
      this.deleteStaffVisible = false
    },
    async deleteStaff () {
      this.$cloudbase.database().collection('staff')
        .where({
          account: this.currentStaff.account
        }).remove()
      this.deleteStaffVisible = false
      this.getData()
    },
    getCurrentStaff (record) {
      this.currentStaff = record
      this.currentStaffVisible = true
    },
    currentStaffBack () {
      this.currentStaffVisible = false
    },
    async getData () {
      this.thisAccount = sessionStorage.getItem('globalAccount')
      const query = await this.$cloudbase.database().collection('restaurant')
        .where({
          account: this.thisAccount
        }).get()
      let data = query.data[0]
      this.resAccount = data.account
      this.resName = data.restaurantName
      this.resManager = data.managerName
      this.resEmail = data.email
      this.resAddress = data.address
      this.resOpeningTime = data.openingTime
      this.resDescription = data.discription
      let res = await this.$cloudbase.database().collection('staff').aggregate()
        .match({ restaurantAccount: this.resAccount })
        .count('staffCount')
        .end()
      if (res.data[0] === undefined) {
        this.staffNum = 0
      } else {
        this.staffNum = res.data[0].staffCount
      }
      res = await this.$cloudbase.database().collection('staff')
        .where({
          account: this.thisAccount
        }).get()
      this.thisStaff = res.data[0]
      res = await this.$cloudbase.database().collection('staff').aggregate()
        .match({ restaurantAccount: this.resAccount, position: 'host' })
        .count('hostCount')
        .end()
      if (res.data[0] === undefined) {
        this.hostNum = 0
      } else {
        this.hostNum = res.data[0].hostCount
      }
      res = await this.$cloudbase.database().collection('staff').aggregate()
        .match({ restaurantAccount: this.resAccount, position: 'waiter' })
        .count('waiterCount')
        .end()
      if (res.data[0] === undefined) {
        this.waiterNum = 0
      } else {
        this.waiterNum = res.data[0].waiterCount
      }
      res = await this.$cloudbase.database().collection('staff').aggregate()
        .match({ restaurantAccount: this.resAccount, position: 'busboy' })
        .count('busboyCount')
        .end()
      if (res.data[0] === undefined) {
        this.busboyNum = 0
      } else {
        this.busboyNum = res.data[0].busboyCount
      }
      res = await this.$cloudbase.database().collection('staff').aggregate()
        .match({ restaurantAccount: this.resAccount, position: 'cook' })
        .count('cookCount')
        .end()
      if (res.data[0] === undefined) {
        this.cookNum = 0
      } else {
        this.cookNum = res.data[0].cookCount
      }
      res = await this.$cloudbase.database().collection('staff')
        .where({
          restaurantAccount: this.resAccount,
          position: 'host'
        }).get()
      this.hostList = res.data
      res = await this.$cloudbase.database().collection('staff')
        .where({
          restaurantAccount: this.resAccount,
          position: 'waiter'
        }).get()
      this.waiterList = res.data
      res = await this.$cloudbase.database().collection('staff')
        .where({
          restaurantAccount: this.resAccount,
          position: 'busboy'
        }).get()
      this.busboyList = res.data
      res = await this.$cloudbase.database().collection('staff')
        .where({
          restaurantAccount: this.resAccount,
          position: 'cook'
        }).get()
      this.cookList = res.data
      res = await this.$cloudbase.database().collection('managerData')
        .where({
          restaurant: this.resAccount
        }).get()
      this.totalIncome = 0
      for (let i = 0; i < res.data.length; i += 1) {
        this.totalIncome += res.data[i].value
      }
      if (this.selectedDate === '') {
        res = await this.$cloudbase.database().collection('managerData')
          .where({
            restaurant: this.resAccount
          }).get()
        this.managerData = res.data
        this.selectedIncome = '--'
      } else {
        res = await this.$cloudbase.database().collection('managerData')
          .where({
            restaurant: this.resAccount,
            date: this.selectedDate
          }).get()
        this.managerData = res.data
        this.selectedIncome = 0
        for (let i = 0; i < this.managerData.length; i += 1) {
          this.selectedIncome += this.managerData[i].value
        }
      }
    },
    addStaffShow () {
      this.addStaffVisible = true
    },
    addStaffBack () {
      this.addStaffVisible = false
    },
    async addStaffSubmit () {
      let name = this.newStaffName
      let gender = this.newStaffGender
      let age = this.newStaffAge
      let position = this.newStaffPosition
      let salary = this.newStaffSalary
      if (name === '' || gender === '' || age === '' || position === '' || salary === '') {
      } else {
        let res = await this.$cloudbase.database().collection('restaurant')
          .where({
            account: this.resAccount
          }).get()
        let index = res.data[0].historicalstaffnum + 1
        this.$cloudbase.database().collection('restaurant')
          .where({
            account: this.resAccount
          }).update({ historicalstaffnum: index })
        let newAccount = this.resAccount + '_staff00'
        if (index >= 10) {
          newAccount = newAccount + index.toString()
        } else {
          newAccount = newAccount + '0' + index.toString()
        }
        this.$cloudbase.database().collection('staff')
          .add({
            account: newAccount,
            password: '123456',
            name: name,
            gender: gender,
            age: age,
            position: position,
            salary: salary,
            restaurantAccount: this.resAccount,
            restaurantName: this.resName,
            email: '',
            discription: '',
            staffindex: index
          })
        this.newStaffAccount = newAccount
        this.addStaffVisible = false
        this.addSuccsessVisible = true
        this.getData()
      }
    },
    setSuccessNotVisible () {
      this.addSuccsessVisible = false
      this.$router.push('/manager')
    },
    openNotification () {
      this.$notification.open({
        message: '修改成功！',
        icon: <a-icon type="smile" style="color: #108ee9" />
      })
    },
    setModifyRestaurantNameVisible () {
      this.modifyRestaurantNameVisible = true
    },
    setModifyRestaurantNameNotVisible () {
      this.modifyRestaurantNameVisible = false
    },
    modifyRestaurantName () {
      this.$cloudbase.database().collection('restaurant')
        .where({
          account: this.resAccount
        }).update({ restaurantName: this.modifiedRestaurantName })
      this.getData()
      this.modifyRestaurantNameVisible = false
      this.openNotification()
    },
    setModifyRestaurantEmailVisible () {
      this.modifyRestaurantEmailVisible = true
    },
    setModifyRestaurantEmailNotVisible () {
      this.modifyRestaurantEmailVisible = false
    },
    modifyRestaurantEmail () {
      let newEmail = this.modifiedRestaurantEmail + this.emailAddonAfter
      if (this.emailAddonAfter !== '') {
        this.$cloudbase.database().collection('restaurant')
          .where({
            account: this.resAccount
          }).update({ email: newEmail })
        this.getData()
        this.modifyRestaurantEmailVisible = false
        this.openNotification()
      }
    },
    setModifyRestaurantAddressVisible () {
      this.modifyRestaurantAddressVisible = true
    },
    setModifyRestaurantAddressNotVisible () {
      this.modifyRestaurantAddressVisible = false
    },
    modifyRestaurantAddress () {
      this.$cloudbase.database().collection('restaurant')
        .where({
          account: this.resAccount
        }).update({ address: this.modifiedRestaurantAddress })
      this.getData()
      this.modifyRestaurantAddressVisible = false
      this.openNotification()
    },
    setModifyRestaurantDiscriptionVisible () {
      this.modifyRestaurantDiscriptionVisible = true
    },
    setModifyRestaurantDiscriptionNotVisible () {
      this.modifyRestaurantDiscriptionVisible = false
    },
    modifyRestaurantDiscription () {
      console.log(this.modifiedRestaurantDiscription)
      this.$cloudbase.database().collection('restaurant')
        .where({
          account: this.resAccount
        }).update({ discription: this.modifiedRestaurantDiscription })
      this.getData()
      this.modifyRestaurantDiscriptionVisible = false
      this.openNotification()
    },
    setModifyRestaurantOpeningTimeVisible () {
      this.modifyRestaurantOpeningTimeVisible = true
    },
    setModifyRestaurantOpeningTimeNotVisible () {
      this.modifyRestaurantOpeningTimeVisible = false
    },
    modifyRestaurantOpeningTime () {
      let openingTime = this.modifiedOpeningTime1 + '  -  ' + this.modifiedOpeningTime2
      console.log(openingTime)
      this.$cloudbase.database().collection('restaurant')
        .where({
          account: this.resAccount
        }).update({ openingTime: openingTime })
      this.getData()
      this.modifyRestaurantOpeningTimeVisible = false
      this.openNotification()
    },
    setModifyPasswordVisible () {
      this.modifyPasswordVisible = true
    },
    setModifyPasswordNotVisible () {
      this.modifyPasswordVisible = false
    },
    checkPasswordError () {
      this.$notification.open({
        message: '修改失败！请检查当前密码是否正确或是否输入了新的密码',
        icon: <a-icon type="frown" style="color: red" />
      })
    },
    async modifyPassword () {
      console.log(this.checkPassword)
      console.log(this.modifiedPassword)
      let res = await this.$cloudbase.database().collection('staff')
        .where({
          account: this.resAccount
        }).get()
      let p = res.data[0]
      if (p.password === this.checkPassword && this.modifiedPassword !== '') {
        this.$cloudbase.database().collection('staff')
          .where({
            account: this.resAccount
          }).update({ password: this.modifiedPassword })
        this.getData()
        this.modifyPasswordVisible = false
        this.openNotification()
      } else {
        this.checkPasswordError()
      }
    },
    onChangeDate (date, dateString) {
      this.selectedDate = dateString
    },
    selectAllDate () {
      this.selectedDate = ''
    }
  }
}
</script>

<style scoped>
#manager-header {
  text-align: center;
  font-size: 30px;
  color: white;
  letter-spacing: 3px;
  background: #1890ff
}
#manager-content {
  display: flex
}
</style>
