<template>
  <a-layout>
    <a-layout-header id='about-header'>Restaurant
      <a-icon type="shop" />
      Automation</a-layout-header>
    <a-layout-content>
      <a-page-header
      style="border: 1px solid rgb(235, 237, 240)"
      title="About Us"
      sub-title="This is an about us page"
      @back="() => this.$router.push('/')"
    />
    <h2>Project Name: Restaurant Aotumation</h2>
    <h3>A student project of Software-Engineering 2021-2022 Fall,NKCS</h3>
    <h3>Group Name: 996_restaurant</h3>
    <h3>Our Members:</h3>
    <a-list size='small' style="width: 60%; left:44%; text-align: left" item-layout="horizontal" :data-source="data">
      <a-list-item class='list' slot="renderItem" slot-scope="item">
        <a-list-item-meta>
          <a :href="item.description" slot="title">{{ item.name }}</a>
          <a-avatar
            slot="avatar"
            src="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"
          />
        </a-list-item-meta>
      </a-list-item>
    </a-list>
    <h3></h3>
    <a href='https://gitlab.com/996_restaurant/996_restaurant'>
      <a-icon type="gitlab" theme="outlined" style="font-size:30px" />View our Repository
    </a>
  </a-layout-content>
    <a-layout-footer id="about-footer"></a-layout-footer>
  </a-layout>
</template>

<script>
const data = [
  {
    name: '陈永麒<@nk_cyq>',
    description: 'https://gitlab.com/nk_cyq'
  },
  {
    name: '赵研<@Yori97>',
    description: 'https://gitlab.com/Yori97'
  },
  {
    name: '马岩<@xiao_ming_>',
    description: 'https://gitlab.com/xiao_ming_'
  },
  {
    name: '程健<@ttssly>',
    description: 'https://gitlab.com/ttssly'
  },
  {
    name: '高鹏<@jokergoogoo>',
    description: 'https://gitlab.com/jokergoogoo'
  },
  {
    name: '冯晓雨<@Mr_happyyeah>',
    description: 'https://gitlab.com/Mr_happyyeah'
  }
]
export default {
  name: 'About',
  data () {
    return {
      data
    }
  }
}
</script>

<style>
#about-header {
  text-align: center;
  font-size: 30px;
  color: white;
  letter-spacing: 3px;
  background: #1890ff
}
.list{
  width: 60%
}
</style>
