<template>
  <a-layout>
    <a-layout-header id='forgot-header'>Restaurant
      <a-icon type="shop" />
      Automation</a-layout-header>
    <a-layout-content id='forgot-content'>
      <div id='forgot-left'>
        <a-carousel autoplay>
          <img src='./display1.png'>
          <img src='./display2.png'>
          <img src='./display3.png'>
          <img src='./display4.png'>
          <img src='./display5.png'>
        </a-carousel>
      </div>
      <div style="height: 100%; width: 40%">
        <a-page-header
          style="border: 1px solid rgb(235, 237, 240);"
          title="找回密码"
        />
        <a-alert
          message="仅支持餐厅（经理）账户找回密码。
                  若您是餐厅的一名普通员工，请直接向经理申请将您账户的密码重置。"
          type="info"
          show-icon
          style='text-align: left; width: 80%'
        />
        <a-form
          id="components-form-demo-normal-forgot"
          :form="form"
          class="login-form"
          @submit="handleSubmitAccount"
        >
          <span style='float: left'>账号</span>
          <a-form-item>
            <a-input
              v-decorator="[
                'account',
                { rules: [{ required: true, message: '请输入账号!' }] },
              ]"
              placeholder="Account"
            >
            </a-input>
          </a-form-item>
          <span style='float: left'>邮箱</span>
          <a-form-item>
            <a-input
              v-decorator="[
                'email',
                { rules: [
                  {
                    required: true, message: '请输入邮箱!'
                  },
                  {
                      type: 'email',
                      message: '请输入正确的邮箱格式',
                    }
                  ] },
              ]"
              placeholder="Emial"
            >
            </a-input>
          </a-form-item>
          <a-form-item>
            <a-alert
            id="after-check"
            message="如果您确定输入的账号与邮箱匹配，那么这个邮箱将收到您的账号信息，请注意查收。若要修改密码，请在登陆后操作。"
            type="info"
            show-icon
            style='text-align: left; width: 80%'
            />
          </a-form-item>
          <a-form-item>
            <a-button type="primary" html-type="submit" class="forgot-form-button1">
              确 定
            </a-button>
            <router-link to="/">
              返回
            </router-link>
          </a-form-item>
        </a-form>
      </div>
    </a-layout-content>
    <a-layout-footer></a-layout-footer>
  </a-layout>
</template>

<script>
export default {
  name: 'Forgot',
  beforeCreate () {
    this.form = this.$form.createForm(this, { name: 'forgot' })
  },
  methods: {
    handleSubmitAccount (e) {
      e.preventDefault()
      const account = this.form.getFieldsValue(['account'])
      const email = this.form.getFieldsValue(['emial'])
      console.log(account)
      console.log(email)
      this.form.validateFields((err, values) => {
        if (!err) {
          console.log('Received values of form: ', values)
          document.getElementById('after-check').style.display = 'block'
        }
      })
    }
  }
}
</script>
<style>
#forgot-header {
  text-align: center;
  font-size: 30px;
  color: white;
  letter-spacing: 3px;
  background: #1890ff
}
#forgot-content {
  margin-top: 5%;
  display: flex
}
#forgot-left{
  height: 100%;
  width: 60%
}
#components-form-demo-normal-forgot {
  margin-top: 5%;
  width: 70%
}
#components-form-demo-normal-forgot .login-form {
  float: left;
  max-width: 300px
}
#components-form-demo-normal-forgot .forgot-form-back {
  margin-top: 5px;
  float: right
}
#components-form-demo-normal-forgot .forgot-form-button1 {
  float: right;
  width: 100%
}
#components-form-demo-normal-forgot .forgot-form-button2 {
  margin-top: 5px;
  float: right;
  width: 100%
}
#after-check {
  display: none
}
.ant-carousel {
  position: relative;
  width: 80%;
  left: 10%
}
.slick-slide {
  margin-top: 0px;
  line-height: 400px;
  background: #1890ff
}
.ant-carousel .slick-slide h3 {
  color: #fff;
}
.img {
  width: 90%;
  height:100%;
  display: inline-block;
  margin:auto;
}
</style>
