<template>
  <a-layout>
    <a-layout-header id='register-header'>Restaurant
      <a-icon type="shop" />
      Automation</a-layout-header>
    <a-layout-content id='register-content'>
      <div id='register-left'>
        <a-carousel autoplay>
          <img src='./display1.png'>
          <img src='./display2.png'>
          <img src='./display3.png'>
          <img src='./display4.png'>
          <img src='./display5.png'>
        </a-carousel>
      </div>
      <a-result
      id = 'result'
        status="success"
        title="注册成功！以下是您的餐厅账号"
        sub-title="此账号将作为唯一的登陆凭证，请务必牢记"
      >
        <p style="font-size: 20px;">
        {{ thisAccount }}
        </p>
        <template #extra>
          <a-button key="console" type="primary" style="width: 100%" @click="backToLogin">
            回到登陆页面
          </a-button>
        </template>
      </a-result>
      <div id='reg-main' style="height: 100%; width: 40%">
        <a-page-header
          style="border: 1px solid rgb(235, 237, 240);"
          title="注册"
          sub-title="以经理身份注册一个餐厅账户"
        />
        <a-alert
          message="注册完成后，您将获得该餐厅的唯一标识账号。
                  您可以通过该账号以经理身份登陆终端。餐厅其余员工的账号需要您在员工管理系统中自行创建并分配。"
          type="info"
          show-icon
          style='text-align: left; width: 80%'
        />
        <a-form
          id="components-form-demo-normal-register"
          :form="form"
          class='register-form'
          @submit="handleSubmit"
        >
          <a-form-item v-bind="formItemLayout" has-feedback>
            <span slot="label">
              姓名&nbsp;
              <a-tooltip title="在注册时您只需要填写姓名，更详细的个人信息可在注册后完善。">
                <a-icon type="question-circle-o" />
              </a-tooltip>
            </span>
            <a-input
              v-decorator="[
                'manager_name',
                {
                  rules: [
                    {
                      max: 20,
                      message: '请输入不超过20个字符',
                    },
                    {
                      required: true,
                      message: '请输入您的姓名',
                    },
                  ],
                },
              ]"
            />
          </a-form-item>
          <a-form-item v-bind="formItemLayout" label="餐厅名称" has-feedback>
            <a-input
              v-decorator="[
                'restaurant_name',
                {
                  rules: [
                    {
                      max: 20,
                      message: '请输入不超过20个字符',
                    },
                    {
                      required: true,
                      message: '请输入餐厅名称',
                    },
                  ],
                },
              ]"
            />
          </a-form-item>
          <a-form-item v-bind="formItemLayout" label="邮箱" has-feedback>
            <a-input
              v-decorator="[
                'email',
                {
                  rules: [
                    {
                      type: 'email',
                      message: '请输入正确的邮箱格式',
                    },
                    {
                      required: true,
                      message: '请输入邮箱',
                    },
                    {
                      max: 20,
                      message: '请输入不超过20个字符',
                    },
                  ],
                },
              ]"
            />
          </a-form-item>
          <a-form-item v-bind="formItemLayout" label="密码" has-feedback>
            <a-input
              v-decorator="[
                'password',
                {
                  rules: [
                    {
                      required: true,
                      message: '请设置密码',
                    },
                    {
                      validator: validateToNextPassword,
                    },
                  ],
                },
              ]"
              type="password"
            />
          </a-form-item>
          <a-form-item v-bind="formItemLayout" label="确认密码" has-feedback>
            <a-input
              v-decorator="[
                'confirm',
                {
                  rules: [
                    {
                      required: true,
                      message: '请再次确认密码',
                    },
                    {
                      validator: compareToFirstPassword,
                    },
                  ],
                },
              ]"
              type="password"
              @blur="handleConfirmBlur"
            />
          </a-form-item>
          <a-form-item v-bind="formItemLayout" label="地址">
            <a-input
              v-decorator="[
                'address',
                {
                  rules: [
                    {
                      max: 50,
                      message: '请输入不超过50个字符',
                    },
                  ],
                },
              ]"
            />
          </a-form-item>
          <a-form-item v-bind="formItemLayout" label="餐厅描述">
            <a-input
              v-decorator="[
                'discription',
                {
                  rules: [
                    {
                      max: 100,
                      message: '请输入不超过100个字符',
                    },
                  ],
                },
              ]"
            />
          </a-form-item>
          <a-form-item v-bind="tailFormItemLayout">
            <a-button type="primary" html-type="submit" class="register-form-button">
              注册
            </a-button>
            已有餐厅账号？
            <router-link to="/">
              点此登录
            </router-link>
          </a-form-item>
        </a-form>
      </div>
    </a-layout-content>
    <a-layout-footer></a-layout-footer>
  </a-layout>
</template>

<script>

export default {
  name: 'Register',
  data () {
    return {
      thisAccount: '',
      confirmDirty: false,
      autoCompleteResult: [],
      formItemLayout: {
        labelCol: {
          xs: { span: 24 },
          sm: { span: 8 }
        },
        wrapperCol: {
          xs: { span: 24 },
          sm: { span: 16 }
        }
      },
      tailFormItemLayout: {
        wrapperCol: {
          xs: {
            span: 24,
            offset: 0
          },
          sm: {
            span: 16,
            offset: 8
          }
        }
      }
    }
  },
  beforeCreate () {
    this.form = this.$form.createForm(this, { name: 'register' })
  },
  methods: {
    backToLogin () {
      this.$router.push('/')
    },
    handleSubmit (e) {
      e.preventDefault()
      const managerName = this.form.getFieldsValue(['manager_name']).manager_name
      const restaurantName = this.form.getFieldsValue(['restaurant_name']).restaurant_name
      const email = this.form.getFieldsValue(['email']).email
      const password = this.form.getFieldsValue(['password']).password
      const address = this.form.getFieldsValue(['address']).address
      const discription = this.form.getFieldsValue(['discription']).discription
      this.form.validateFieldsAndScroll(async (err, values) => {
        if (!err) {
          const res = await this.$cloudbase.database().collection('restaurant').aggregate()
            .match({})
            .count('resCount')
            .end()
          let index
          if (res.data[0] === undefined) {
            index = 1
          } else {
            index = res.data[0].resCount + 1
          }
          let newAccount = 'RA_restaurant00'
          if (index >= 10) {
            newAccount = newAccount + index.toString()
          } else {
            newAccount = newAccount + '0' + index.toString()
          }
          this.thisAccount = newAccount
          this.$cloudbase.database().collection('restaurant')
            .add({
              account: newAccount,
              managerName: managerName,
              restaurantName: restaurantName,
              email: email,
              password: password,
              address: address,
              discription: discription,
              historicalstaffnum: 0
            })
          this.$cloudbase.database().collection('staff')
            .add({
              account: newAccount,
              discription: '',
              email: '',
              gender: '',
              hiredate: '',
              name: managerName,
              password: password,
              position: 'manager',
              restaurant: restaurantName,
              salary: ''
            })
          this.$cloudbase.database().collection('table')
            .add({
              restaurantAccount: newAccount,
              index: 1,
              waiter: '',
              busboy: '',
              needClean: 'false',
              waiterStatus: 'open'
            })
          this.$cloudbase.database().collection('table')
            .add({
              restaurantAccount: newAccount,
              index: 2,
              waiter: '',
              busboy: '',
              needClean: 'false',
              waiterStatus: 'open'
            })
          this.$cloudbase.database().collection('table')
            .add({
              restaurantAccount: newAccount,
              index: 3,
              waiter: '',
              busboy: '',
              needClean: 'false',
              waiterStatus: 'open'
            })
          this.$cloudbase.database().collection('table')
            .add({
              restaurantAccount: newAccount,
              index: 4,
              waiter: '',
              busboy: '',
              needClean: 'false',
              waiterStatus: 'open'
            })
          this.$cloudbase.database().collection('table')
            .add({
              restaurantAccount: newAccount,
              index: 5,
              waiter: '',
              busboy: '',
              needClean: 'false',
              waiterStatus: 'open'
            })
          this.$cloudbase.database().collection('table')
            .add({
              restaurantAccount: newAccount,
              index: 6,
              waiter: '',
              busboy: '',
              needClean: 'false',
              waiterStatus: 'open'
            })
          this.$cloudbase.database().collection('table')
            .add({
              restaurantAccount: newAccount,
              index: 7,
              waiter: '',
              busboy: '',
              needClean: 'false',
              waiterStatus: 'open'
            })
          this.$cloudbase.database().collection('table')
            .add({
              restaurantAccount: newAccount,
              index: 8,
              waiter: '',
              busboy: '',
              needClean: 'false',
              waiterStatus: 'open'
            })
          this.$cloudbase.database().collection('table')
            .add({
              restaurantAccount: newAccount,
              index: 9,
              waiter: '',
              busboy: '',
              needClean: 'false',
              waiterStatus: 'open'
            })
          this.$cloudbase.database().collection('table')
            .add({
              restaurantAccount: newAccount,
              index: 10,
              waiter: '',
              busboy: '',
              needClean: 'false',
              waiterStatus: 'open'
            })
          this.$cloudbase.database().collection('table')
            .add({
              restaurantAccount: newAccount,
              index: 11,
              waiter: '',
              busboy: '',
              needClean: 'false',
              waiterStatus: 'open'
            })
          this.$cloudbase.database().collection('table')
            .add({
              restaurantAccount: newAccount,
              index: 12,
              waiter: '',
              busboy: '',
              needClean: 'false',
              waiterStatus: 'open'
            })
          this.$cloudbase.database().collection('table')
            .add({
              restaurantAccount: newAccount,
              index: 13,
              waiter: '',
              busboy: '',
              needClean: 'false',
              waiterStatus: 'open'
            })
          this.$cloudbase.database().collection('table')
            .add({
              restaurantAccount: newAccount,
              index: 14,
              waiter: '',
              busboy: '',
              needClean: 'false',
              waiterStatus: 'open'
            })
          this.$cloudbase.database().collection('table')
            .add({
              restaurantAccount: newAccount,
              index: 15,
              waiter: '',
              busboy: '',
              needClean: 'false',
              waiterStatus: 'open'
            })
          this.$cloudbase.database().collection('table')
            .add({
              restaurantAccount: newAccount,
              index: 16,
              waiter: '',
              busboy: '',
              needClean: 'false',
              waiterStatus: 'open'
            })
          this.$cloudbase.database().collection('table')
            .add({
              restaurantAccount: newAccount,
              index: 17,
              waiter: '',
              busboy: '',
              needClean: 'false',
              waiterStatus: 'open'
            })
          this.$cloudbase.database().collection('table')
            .add({
              restaurantAccount: newAccount,
              index: 18,
              waiter: '',
              busboy: '',
              needClean: 'false',
              waiterStatus: 'open'
            })
          this.$cloudbase.database().collection('table')
            .add({
              restaurantAccount: newAccount,
              index: 19,
              waiter: '',
              busboy: '',
              needClean: 'false',
              waiterStatus: 'open'
            })
          this.$cloudbase.database().collection('table')
            .add({
              restaurantAccount: newAccount,
              index: 20,
              waiter: '',
              busboy: '',
              needClean: 'false',
              waiterStatus: 'open'
            })
          document.getElementById('reg-main').style.display = 'none'
          document.getElementById('result').style.display = 'block'
        }
      })
    },
    handleConfirmBlur (e) {
      const value = e.target.value
      this.confirmDirty = this.confirmDirty || !!value
    },
    compareToFirstPassword (rule, value, callback) {
      const form = this.form
      if (value && value !== form.getFieldValue('password')) {
        const msg = '两次输入的密码不一致!'
        callback(msg)
      } else {
        callback()
      }
    },
    validateToNextPassword (rule, value, callback) {
      const form = this.form
      if (value && this.confirmDirty) {
        form.validateFields(['confirm'], { force: true })
      }
      callback()
    }
  }
}
</script>

<style>
#register-header {
  text-align: center;
  font-size: 30px;
  color: white;
  letter-spacing: 3px;
  background: #1890ff
}
#register-content {
  margin-top: 5%;
  display: flex
}
#register-left{
  height: 100%;
  width: 60%
}
#components-form-demo-normal-register {
  margin-top: 5%;
  width: 70%
}
#components-form-demo-normal-register .register-form {
  max-width: 300px
}
#components-form-demo-normal-register .register-form-button {
  width: 100%
}
.ant-carousel {
  position: relative;
  width: 80%;
  left: 10%
}
.slick-slide {
  margin-top: 0px;
  line-height: 400px;
  background: #1890ff
}
.ant-carousel .slick-slide h3 {
  color: #fff;
}
.img {
  width: 90%;
  height:100%;
  display: inline-block;
  margin:auto;
}
#result {
  display: none
}
</style>
