<template>
  <a-layout>
    <a-layout-header id='login-header'>Restaurant
      <a-icon type="shop" />
      Automation</a-layout-header>
    <a-layout-content id='login-content'>
      <div id='login-left'>
        <a-carousel autoplay>
          <img src='./display1.png'>
          <img src='./display2.png'>
          <img src='./display3.png'>
          <img src='./display4.png'>
          <img src='./display5.png'>
        </a-carousel>
      </div>
      <div style="height: 100%; width: 40%">
        <a-page-header
          style="border: 1px solid rgb(235, 237, 240);"
          title="登录"
          sub-title="在此登录您的终端账号"
        />
        <a-form
          id="components-form-demo-normal-login"
          :form="form"
          class="login-form"
          @submit="handleSubmit"
        >
          <a-form-item>
            <a-input
              v-decorator="[
                'account',
                { rules: [{ required: true, message: '请输入账号!' }] },
              ]"
              placeholder="Account"
            >
              <a-icon slot="prefix" type="user" style="color: rgba(0,0,0,.25)" />
            </a-input>
          </a-form-item>
          <a-form-item>
            <a-input
              v-decorator="[
                'password',
                { rules: [{ required: true, message: '请输入密码!' }] },
              ]"
              type="password"
              placeholder="Password"
            >
              <a-icon slot="prefix" type="lock" style="color: rgba(0,0,0,.25)" />
            </a-input>
          </a-form-item>
          <a-alert message="账号不存在或密码错误！请检查您的输入是否正确" id='login-err' type="error" show-icon />
          <a-form-item>
            <a-checkbox
              class='remember'
              v-decorator="[
                'remember',
                {
                  valuePropName: 'checked',
                  initialValue: true,
                },
              ]"
            >
              保存本账号信息
            </a-checkbox>
            <router-link to="/forgot" class="login-form-forgot">
              忘记密码
            </router-link>
            <a-button type="primary" html-type="submit" class="login-form-button">
              登 录
            </a-button>
            或者，若您是一名经理，可能希望
            <router-link to="/register">
              注册新的餐厅账号
            </router-link>
          </a-form-item>
        </a-form>
      </div>
    </a-layout-content>
    <a-layout-footer id="login-bottom">
      <router-link to="/about">
        About Us
      </router-link>
    </a-layout-footer>
  </a-layout>
</template>

<script>
export default {
  name: 'Login',
  beforeCreate () {
    this.form = this.$form.createForm(this, { name: 'normal_login' })
  },
  methods: {
    async handleSubmit (e) {
      e.preventDefault()
      const thisAccount = this.form.getFieldsValue(['account']).account
      const thisPassword = this.form.getFieldsValue(['password']).password
      const remember = this.form.getFieldsValue(['remember'])
      console.log(remember)
      var err = false
      const query = await this.$cloudbase.database().collection('staff')
        .where({
          account: thisAccount,
          password: thisPassword
        }).get()
      if (query.data.length === 0) {
        err = true
      }
      if (err === true && thisAccount.length !== 0 && thisPassword.length !== 0) {
        document.getElementById('login-err').style.display = 'inline-block'
      } else {
        document.getElementById('login-err').style.display = 'none'
        if (err === false) {
          sessionStorage.setItem('globalAccount', thisAccount)
          const position = query.data[0].position
          if (position === 'manager') {
            this.$router.push('/manager')
            sessionStorage.setItem('loginState', 'manager')
          } else if (position === 'host') {
            this.$router.push('/host')
            sessionStorage.setItem('loginState', 'host')
          } else if (position === 'waiter') {
            this.$router.push('/waiter')
            sessionStorage.setItem('loginState', 'waiter')
          } else if (position === 'busboy') {
            this.$router.push('/busboy')
            sessionStorage.setItem('loginState', 'busboy')
          } else if (position === 'cook') {
            this.$router.push('/cook')
            sessionStorage.setItem('loginState', 'cook')
          }
        }
      }
    }
  }
}
</script>
<style>
#login-header {
  text-align: center;
  font-size: 30px;
  color: white;
  letter-spacing: 3px;
  background: #1890ff
}
#login-content {
  margin-top: 5%;
  display: flex
}
#login-bottom {
  position: absolute;
  width: 100%;
  bottom: 0;
}
#login-left{
  height: 100%;
  width: 60%
}
#components-form-demo-normal-login {
  margin-top: 5%;
  width: 70%
}
#components-form-demo-normal-login .login-form {
  max-width: 300px
}
#components-form-demo-normal-login .remember {
  float: left
}
#components-form-demo-normal-login .login-form-forgot {
  float: right
}
#components-form-demo-normal-login .login-form-button {
  width: 100%
}
.ant-carousel {
  position: relative;
  width: 80%;
  left: 10%
}
.slick-slide {
  margin-top: 0px;
  line-height: 400px;
  background: #1890ff
}
.ant-carousel .slick-slide h3 {
  color: #fff;
}
.img {
  width: 90%;
  height:100%;
  display: inline-block;
  margin:auto;
}
#login-err {
  text-align: left;
  display: none
}
</style>
