<template>
  <div>
  <haha
      id="haha"
      v-for="item in drinkList"
      :key="item.index"
      :id_order="item.numbers"
  ></haha>
    <router-view></router-view>
  </div>
</template>

<script>
import Haha from './haha.vue'
export default {
  components: { Haha },
  name: 'Drink',
  data () {
    return {
      num_dish: 0,
      table_num: 0,
      drinkList: [
        {
          numbers: 1
        },
        {
          numbers: 2
        },
        {
          numbers: 3
        },
        {
          numbers: 4
        },
        {
          numbers: 5
        },
        {
          numbers: 6
        }
      ]
    }
  }
}
</script>

<style>
#haha {
  display:inline-block;
  margin: 20px;
}
</style>
