<template>
  <div>
  <haha
      id="haha"
      v-for="item in foodList"
      :key="item.index"
      :id_order="item.numbers"
  ></haha>
    <router-view></router-view>
  </div>
</template>

<script>
import Haha from './haha.vue'
export default {
  components: { Haha },
  name: 'Food',
  data () {
    return {
      num_dish: 0,
      table_num: 0,
      foodList: [
        {
          numbers: 7
        },
        {
          numbers: 8
        },
        {
          numbers: 9
        },
        {
          numbers: 10
        },
        {
          numbers: 11
        },
        {
          numbers: 12
        }
      ]
    }
  }
}
</script>

<style>
#haha {
  display:inline-block;
  margin: 20px;
}
</style>
