<template>
<div>
  <div
  v-if="id_order == 1"
  >
  <a-card hoverable style="width: 200px">
    <img
      slot="cover"
      alt="example"
      src="./baijiu.png"
    />
    <a-card-meta title="白酒" description="50元">
    </a-card-meta>
    <template slot="actions" class="ant-card-actions">
      <a-icon type="minus" @click="down(id_order)"></a-icon>
      <p>{{showNum}}</p>
      <a-icon type="plus" @click="up(id_order)"></a-icon>
    </template>
  </a-card>
  </div>

  <div
  v-if="id_order == 2"
  >
  <a-card hoverable style="width: 200px">
    <img
      slot="cover"
      alt="example"
      src="./beer.png"
    />
    <a-card-meta title="啤酒" description="30元">
    </a-card-meta>
    <template slot="actions" class="ant-card-actions">
      <a-icon type="minus" @click="down(id_order)"></a-icon>
      <p>{{showNum}}</p>
      <a-icon type="plus" @click="up(id_order)"></a-icon>
    </template>
  </a-card>
  </div>

  <div
  v-if="id_order == 3"
  >
  <a-card hoverable style="width: 200px">
    <img
      slot="cover"
      alt="example"
      src="./cocktail.png"
    />
    <a-card-meta title="鸡尾酒" description="70元">
    </a-card-meta>
    <template slot="actions" class="ant-card-actions">
      <a-icon type="minus" @click="down(id_order)"></a-icon>
      <p>{{showNum}}</p>
      <a-icon type="plus" @click="up(id_order)"></a-icon>
    </template>
  </a-card>
  </div>

  <div
  v-if="id_order == 4"
  >
  <a-card hoverable style="width: 200px">
    <img
      slot="cover"
      alt="example"
      src="./cola.png"
    />
    <a-card-meta title="可乐" description="10元">
    </a-card-meta>
    <template slot="actions" class="ant-card-actions">
      <a-icon type="minus" @click="down(id_order)"></a-icon>
      <p>{{showNum}}</p>
      <a-icon type="plus" @click="up(id_order)"></a-icon>
    </template>
  </a-card>
  </div>

  <div
  v-if="id_order == 5"
  >
  <a-card hoverable style="width: 200px">
    <img
      slot="cover"
      alt="example"
      src="./orange_juice.png"
    />
    <a-card-meta title="橙汁" description="10元">
    </a-card-meta>
    <template slot="actions" class="ant-card-actions">
      <a-icon type="minus" @click="down(id_order)"></a-icon>
      <p>{{showNum}}</p>
      <a-icon type="plus" @click="up(id_order)"></a-icon>
    </template>
  </a-card>
  </div>

  <div
  v-if="id_order == 6"
  >
  <a-card hoverable style="width: 200px">
    <img
      slot="cover"
      alt="example"
      src="./water.png"
    />
    <a-card-meta title="白开水" description="5元">
    </a-card-meta>
    <template slot="actions" class="ant-card-actions">
      <a-icon type="minus" @click="down(id_order)"></a-icon>
      <p>{{showNum}}</p>
      <a-icon type="plus" @click="up(id_order)"></a-icon>
    </template>
  </a-card>
  </div>

  <div
  v-if="id_order == 7"
  >
  <a-card hoverable style="width: 200px">
    <img
      slot="cover"
      alt="example"
      src="./Fish_with_Chinese_Sauerkraut.png"
    />
    <a-card-meta title="酸菜鱼" description="100元">
    </a-card-meta>
    <template slot="actions" class="ant-card-actions">
      <a-icon type="minus" @click="down(id_order)"></a-icon>
      <p>{{showNum}}</p>
      <a-icon type="plus" @click="up(id_order)"></a-icon>
    </template>
  </a-card>
  </div>

  <div
  v-if="id_order == 8"
  >
  <a-card hoverable style="width: 200px">
    <img
      slot="cover"
      alt="example"
      src="./Fish-flavoured_pork.png"
    />
    <a-card-meta title="鱼香肉丝" description="80元">
    </a-card-meta>
    <template slot="actions" class="ant-card-actions">
      <a-icon type="minus" @click="down(id_order)"></a-icon>
      <p>{{showNum}}</p>
      <a-icon type="plus" @click="up(id_order)"></a-icon>
    </template>
  </a-card>
  </div>

  <div
  v-if="id_order == 9"
  >
  <a-card hoverable style="width: 200px">
    <img
      slot="cover"
      alt="example"
      src="./Kung_Pao_Chicken.png"
    />
    <a-card-meta title="宫保鸡丁" description="80元">
    </a-card-meta>
    <template slot="actions" class="ant-card-actions">
      <a-icon type="minus" @click="down(id_order)"></a-icon>
      <p>{{showNum}}</p>
      <a-icon type="plus" @click="up(id_order)"></a-icon>
    </template>
  </a-card>
  </div>

  <div
  v-if="id_order == 10"
  >
  <a-card hoverable style="width: 200px">
    <img
      slot="cover"
      alt="example"
      src="./Mapo_Tofu.png"
    />
    <a-card-meta title="麻婆豆腐" description="40元">
    </a-card-meta>
    <template slot="actions" class="ant-card-actions">
      <a-icon type="minus" @click="down(id_order)"></a-icon>
      <p>{{showNum}}</p>
      <a-icon type="plus" @click="up(id_order)"></a-icon>
    </template>
  </a-card>
  </div>

  <div
  v-if="id_order == 11"
  >
  <a-card hoverable style="width: 200px">
    <img
      slot="cover"
      alt="example"
      src="./pork_braised.png"
    />
    <a-card-meta title="红烧肉" description="80元">
    </a-card-meta>
    <template slot="actions" class="ant-card-actions">
      <a-icon type="minus" @click="down(id_order)"></a-icon>
      <p>{{showNum}}</p>
      <a-icon type="plus" @click="up(id_order)"></a-icon>
    </template>
  </a-card>
  </div>

  <div
  v-if="id_order == 12"
  >
  <a-card hoverable style="width: 200px">
    <img
      slot="cover"
      alt="example"
      src="./Roasted_Duck.png"
    />
    <a-card-meta title="烤鸭" description="100元">
    </a-card-meta>
    <template slot="actions" class="ant-card-actions">
      <a-icon type="minus" @click="down(id_order)"></a-icon>
      <p>{{showNum}}</p>
      <a-icon type="plus" @click="up(id_order)"></a-icon>
    </template>
  </a-card>
  </div>

  <div
  v-if="id_order == 13"
  >
  <a-card hoverable style="width: 200px">
    <img
      slot="cover"
      alt="example"
      src="./chicken_soup.png"
    />
    <a-card-meta title="鸡汤" description="90元">
    </a-card-meta>
    <template slot="actions" class="ant-card-actions">
      <a-icon type="minus" @click="down(id_order)"></a-icon>
      <p>{{showNum}}</p>
      <a-icon type="plus" @click="up(id_order)"></a-icon>
    </template>
  </a-card>
  </div>

  <div
  v-if="id_order == 14"
  >
  <a-card hoverable style="width: 200px">
    <img
      slot="cover"
      alt="example"
      src="./laver_soup.png"
    />
    <a-card-meta title="紫菜汤" description="20元">
    </a-card-meta>
    <template slot="actions" class="ant-card-actions">
      <a-icon type="minus" @click="down(id_order)"></a-icon>
      <p>{{showNum}}</p>
      <a-icon type="plus" @click="up(id_order)"></a-icon>
    </template>
  </a-card>
  </div>

  <div
  v-if="id_order == 15"
  >
  <a-card hoverable style="width: 200px">
    <img
      slot="cover"
      alt="example"
      src="./pumpkin_soup.png"
    />
    <a-card-meta title="南瓜汤" description="30元">
    </a-card-meta>
    <template slot="actions" class="ant-card-actions">
      <a-icon type="minus" @click="down(id_order)"></a-icon>
      <p>{{showNum}}</p>
      <a-icon type="plus" @click="up(id_order)"></a-icon>
    </template>
  </a-card>
  </div>

  <div
  v-if="id_order == 16"
  >
  <a-card hoverable style="width: 200px">
    <img
      slot="cover"
      alt="example"
      src="./tofo_soup.png"
    />
    <a-card-meta title="文思豆腐汤" description="50元">
    </a-card-meta>
    <template slot="actions" class="ant-card-actions">
      <a-icon type="minus" @click="down(id_order)"></a-icon>
      <p>{{showNum}}</p>
      <a-icon type="plus" @click="up(id_order)"></a-icon>
    </template>
  </a-card>
  </div>

  <div
  v-if="id_order == 17"
  >
  <a-card hoverable style="width: 200px">
    <img
      slot="cover"
      alt="example"
      src="./tomato_soup.png"
    />
    <a-card-meta title="鸡蛋汤" description="30元">
    </a-card-meta>
    <template slot="actions" class="ant-card-actions">
      <a-icon type="minus" @click="down(id_order)"></a-icon>
      <p>{{showNum}}</p>
      <a-icon type="plus" @click="up(id_order)"></a-icon>
    </template>
  </a-card>
  </div>

  <div
  v-if="id_order == 18"
  >
  <a-card hoverable style="width: 200px">
    <img
      slot="cover"
      alt="example"
      src="./spareribs_soup.png"
    />
    <a-card-meta title="山药排骨汤" description="70元">
    </a-card-meta>
    <template slot="actions" class="ant-card-actions">
      <a-icon type="minus" @click="down(id_order)"></a-icon>
      <p>{{showNum}}</p>
      <a-icon type="plus" @click="up(id_order)"></a-icon>
    </template>
  </a-card>
  </div>

  <div
  v-if="id_order == 19"
  >
  <a-card hoverable style="width: 200px">
    <img
      slot="cover"
      alt="example"
      src="./bread.png"
    />
    <a-card-meta title="面包" description="10元">
    </a-card-meta>
    <template slot="actions" class="ant-card-actions">
      <a-icon type="minus" @click="down(id_order)"></a-icon>
      <p>{{showNum}}</p>
      <a-icon type="plus" @click="up(id_order)"></a-icon>
    </template>
  </a-card>
  </div>

  <div
  v-if="id_order == 20"
  >
  <a-card hoverable style="width: 200px">
    <img
      slot="cover"
      alt="example"
      src="./noodles.png"
    />
    <a-card-meta title="面条" description="20元">
    </a-card-meta>
    <template slot="actions" class="ant-card-actions">
      <a-icon type="minus" @click="down(id_order)"></a-icon>
      <p>{{showNum}}</p>
      <a-icon type="plus" @click="up(id_order)"></a-icon>
    </template>
  </a-card>
  </div>

  <div
  v-if="id_order == 21"
  >
  <a-card hoverable style="width: 200px">
    <img
      slot="cover"
      alt="example"
      src="./pancake.png"
    />
    <a-card-meta title="十里香馅饼" description="20元">
    </a-card-meta>
    <template slot="actions" class="ant-card-actions">
      <a-icon type="minus" @click="down(id_order)"></a-icon>
      <p>{{showNum}}</p>
      <a-icon type="plus" @click="up(id_order)"></a-icon>
    </template>
  </a-card>
  </div>

  <div
  v-if="id_order == 22"
  >
  <a-card hoverable style="width: 200px">
    <img
      slot="cover"
      alt="example"
      src="./rice.png"
    />
    <a-card-meta title="香米饭" description="5元">
    </a-card-meta>
    <template slot="actions" class="ant-card-actions">
      <a-icon type="minus" @click="down(id_order)"></a-icon>
      <p>{{showNum}}</p>
      <a-icon type="plus" @click="up(id_order)"></a-icon>
    </template>
  </a-card>
  </div>

  <div
  v-if="id_order == 23"
  >
  <a-card hoverable style="width: 200px">
    <img
      slot="cover"
      alt="example"
      src="./steamed_buns.png"
    />
    <a-card-meta title="奶香馒头" description="5元">
    </a-card-meta>
    <template slot="actions" class="ant-card-actions">
      <a-icon type="minus" @click="down(id_order)"></a-icon>
      <p>{{showNum}}</p>
      <a-icon type="plus" @click="up(id_order)"></a-icon>
    </template>
  </a-card>
  </div>

</div>
</template>

<script>
export default {
  name: 'Haha',
  props: ['id_order'],
  data () {
    return {
      showNum: 0,
      nums: 0
    }
  },
  created () {
  },
  methods: {
    up (id) {
      this.nums += 1
      this.showNum = this.nums
      let name = 'dish' + id.toString()
      sessionStorage.setItem(name, this.nums)
    },
    down (id) {
      if (this.nums > 0) {
        this.nums -= 1
        let name = 'dish' + id.toString()
        sessionStorage.setItem(name, this.nums)
      }
      this.showNum = this.nums
    },
    ss () {
      this.$emit('submitt', this.price)
    }
  }
}
</script>
<style scoped>
#price {
  font-size: 20px;
  display: inline-block;
}
</style>
