<template>
<a-layout id="container">
    <a-layout-sider v-model="collapsed" :trigger="null" collapsible id="all">
      <a-menu theme="dark" mode="inline" :default-selected-keys="['1']" id="all">
        <a-sub-menu key="sub1" id="all">
        <span slot="title"><a-icon type="solution" /><span>Menu</span></span>
        <a-menu-item-group key="g1" id="all">
          <a-menu-item key="1" id="all">
            <router-link to="/order/soup"></router-link>
            <a-icon type="coffee" />
            Soup
          </a-menu-item>
          <a-menu-item key="2" id="all">
            <router-link to="/order/drink"></router-link>
            <a-icon type="smile"/>
            Drinks
          </a-menu-item>
        <a-menu-item key="3" id="all">
          <router-link to="/order/food"></router-link>
          <a-icon type="trophy"/>
          Food
        </a-menu-item>
        <a-menu-item key="4" id="all">
          <router-link to="/order/staple_food"></router-link>
          <a-icon type="sketch" />
          Staple Foods
        </a-menu-item>
        </a-menu-item-group>
      </a-sub-menu>
      </a-menu>
    </a-layout-sider>
    <a-layout>
      <a-layout-header style="background: #fff;">
        <a style="float: left; font-size: 20px; display:inline" @click="backToWaiter"><a-icon type="rollback"/>返回</a>
        <span style="font-size: 20px; margin-left: -55px">餐桌 {{ orderedTable }}</span>
      </a-layout-header>
      <a-layout-content
        style="margin-top: 10px"
      >
      <div style="width: 100%; height: 100px;">
        <a style="margin-top: 20px; display: block; font-size: 20px" @click="showOrdered">查看已选菜品 / 结算</a>
        <a-divider />
      </div>
      <router-view></router-view>
      </a-layout-content>
    </a-layout>
    <a-modal v-model="showOrderedVisible" title="已 选">
      <template slot="footer">
        <a-button @click="setShowOrderedNotVisible">
          返 回
        </a-button>
        <a-button @click="setCheckVisible">
          结 算
        </a-button>
      </template>
      <a-table :columns="columns" :data-source="orderData">
        <a slot="name" slot-scope="text">{{ text }}</a>
      </a-table>
      <a-statistic title="共计" :value="totalPrice"/>元
    </a-modal>
    <a-modal v-model="checkVisible" title="结算确认">
      <template slot="footer">
        <a-button @click="setCheckNotVisible">
          返 回
        </a-button>
        <a-button @click="checkOut">
          确 定
        </a-button>
      </template>
      <span>共计{{ totalPrice }}元，请确认</span>
    </a-modal>
  </a-layout>
</template>
<script>
const columns = [
  {
    title: '名称',
    dataIndex: 'name',
    key: 'name'
  },
  {
    title: '单价',
    dataIndex: 'price',
    key: 'price',
    width: 80
  },
  {
    title: '数量',
    dataIndex: 'nums',
    key: 'nums',
    ellipsis: true
  },
  {
    title: '小计',
    dataIndex: 'tprice',
    key: 'tprice',
    ellipsis: true
  }
]
export default {
  name: 'WaiterO',
  data () {
    return {
      columns,
      collapsed: false,
      num_dish: 0,
      orderedTable: '',
      orderArray: [],
      showOrderedVisible: false,
      menu: [
        {
          name: 'null',
          price: 0
        },
        {
          name: '白酒',
          price: 50
        },
        {
          name: '啤酒',
          price: 30
        },
        {
          name: '鸡尾酒',
          price: 70
        },
        {
          name: '可乐',
          price: 10
        },
        {
          name: '橙汁',
          price: 10
        },
        {
          name: '白开水',
          price: 5
        },
        {
          name: '酸菜鱼',
          price: 100
        },
        {
          name: '鱼香肉丝',
          price: 80
        },
        {
          name: '宫保鸡丁',
          price: 80
        },
        {
          name: '麻婆豆腐',
          price: 40
        },
        {
          name: '红烧肉',
          price: 80
        },
        {
          name: '烤鸭',
          price: 100
        },
        {
          name: '鸡汤',
          price: 90
        },
        {
          name: '紫菜汤',
          price: 20
        },
        {
          name: '南瓜汤',
          price: 30
        },
        {
          name: '文思豆腐汤',
          price: 50
        },
        {
          name: '鸡蛋汤',
          price: 30
        },
        {
          name: '山药排骨汤',
          price: 70
        },
        {
          name: '面包',
          price: 10
        },
        {
          name: '面条',
          price: 20
        },
        {
          name: '十里香馅饼',
          price: 20
        },
        {
          name: '香米饭',
          price: 5
        },
        {
          name: '奶香馒头',
          price: 5
        }
      ],
      orderData: [],
      orderList: '',
      totalPrice: 0,
      cookList: [],
      checkVisible: false
    }
  },
  created () {
    this.orderedTable = sessionStorage.getItem('orderedTable')
    for (let i = 1; i < 24; i += 1) {
      let name = 'dish' + i.toString()
      sessionStorage.setItem(name, 0)
    }
  },
  methods: {
    backToWaiter () {
      sessionStorage.setItem('orderedTable', 0)
      this.$router.push('/waiter')
    },
    showOrdered () {
      for (let i = 1; i < 24; i += 1) {
        this.orderArray[i] = 0
      }
      for (let i = 1; i < 24; i += 1) {
        let name = 'dish' + i.toString()
        this.orderArray[i] = parseInt(sessionStorage.getItem(name))
      }
      this.orderData = []
      this.totalPrice = 0
      for (let i = 1; i < 24; i += 1) {
        let num = this.orderArray[i]
        if (num !== 0) {
          this.orderData.push({ name: this.menu[i].name, price: this.menu[i].price, nums: num, tprice: this.menu[i].price * num })
          this.totalPrice += this.menu[i].price * num
        }
      }
      this.showOrderedVisible = true
    },
    openNotification () {
      this.$notification.open({
        message: '结算成功！',
        icon: <a-icon type="smile" style="color: #108ee9" />
      })
    },
    async checkOut () {
      let yy = new Date().getFullYear()
      let mm = new Date().getMonth() + 1
      let dd = new Date().getDate()
      let hh = new Date().getHours()
      let mf = new Date().getMinutes()
      let date = yy + '-' + mm + '-' + dd
      let time = yy + '-' + mm + '-' + dd + ' ' + hh + ':' + mf
      let ra = sessionStorage.getItem('waiterRes')
      console.log(ra)
      this.$cloudbase.database().collection('managerData')
        .add({
          restaurant: ra,
          value: this.totalPrice,
          table: this.orderedTable,
          date: date,
          time: time
        })
      ra = sessionStorage.getItem('waiterRes')
      console.log(ra)
      const query = await this.$cloudbase.database().collection('staff')
        .where({
          restaurantAccount: ra,
          position: 'cook'
        }).get()
      this.cookList = query.data
      let length = this.cookList.length
      let index = 0
      for (let i = 1; i < 24; i += 1) {
        let num = this.orderArray[i]
        for (let j = 0; j < num; j += 1) {
          let random = Math.round(Math.random() * 100000)
          while (true) {
            let res = await this.$cloudbase.database().collection('cookOrder')
              .where({
                index: random
              }).get()
            if (res.data.length === 0) {
              break
            }
            random = Math.round(Math.random() * 100000)
          }
          let thisWaiterAccount = sessionStorage.getItem('thisWaiterAccount')
          let thisWaiterName = sessionStorage.getItem('thisWaiterName')
          this.$cloudbase.database().collection('cookOrder')
            .add({
              index: random,
              name: this.menu[i].name,
              cook: this.cookList[index].account,
              table: this.orderedTable,
              waiter: thisWaiterAccount,
              waiterName: thisWaiterName
            })
          index += 1
          if (index === length) {
            index = 0
          }
        }
      }
      this.openNotification()
      this.setCheckNotVisible()
      this.setShowOrderedNotVisible()
    },
    setShowOrderedVisible () {
      this.showOrderedVisible = true
    },
    setShowOrderedNotVisible () {
      this.showOrderedVisible = false
    },
    setCheckVisible () {
      if (this.totalPrice !== 0) {
        this.checkVisible = true
      }
    },
    setCheckNotVisible () {
      this.checkVisible = false
    }
  }
}
</script>
<style scoped>
#container {
  height: 100%;
}

#container .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

#container .trigger:hover {
  color: #1890ff;
}

#container .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

#input {
  width: 10%;
  margin-top: 13px;
}

#button {
  height: 100%;
  border:0;
  font-size: 15px;
  background-color: #fff;
}

#all {
  background-color: rgb(11, 199, 58);
}
</style>
