<template>
  <div>
  <haha
      id="haha"
      v-for="item in soupList"
      :key="item.index"
      :id_order="item.numbers"
  ></haha>
    <router-view></router-view>
  </div>
</template>

<script>
import Haha from './haha.vue'
export default {
  components: { Haha },
  name: 'Soup',
  data () {
    return {
      num_dish: 0,
      table_num: 0,
      soupList: [
        {
          numbers: 13
        },
        {
          numbers: 14
        },
        {
          numbers: 15
        },
        {
          numbers: 16
        },
        {
          numbers: 17
        },
        {
          numbers: 18
        }
      ]
    }
  }
}
</script>

<style>
#haha {
  display:inline-block;
  margin: 20px;
}
</style>
