<template>
  <div>
  <haha
      id="haha"
      v-for="item in staple_foodList"
      :key="item.index"
      :id_order="item.numbers"
  ></haha>
    <router-view></router-view>
  </div>
</template>

<script>
import Haha from './haha.vue'
export default {
  components: { Haha },
  name: 'StapleFood',
  data () {
    return {
      num_dish: 0,
      table_num: 0,
      staple_foodList: [
        {
          numbers: 19
        },
        {
          numbers: 20
        },
        {
          numbers: 21
        },
        {
          numbers: 22
        },
        {
          numbers: 23
        },
        {
          numbers: 24
        }
      ]
    }
  }
}
</script>

<style>
#haha {
  display:inline-block;
  margin: 20px;
}
</style>
