<template>
<a-layout>
    <a-layout-header id='busboy-header'>Waiter
      <a-icon type="bar-chart" />
      Terminal</a-layout-header>
    <a-layout-content id='busboy-content'>
      <div style="margin-top: 10px; width: 10%;">
        <a-avatar shape="square" style="color: white; backgroundColor: #f47920">
          R
        </a-avatar>
        <span>
        RAWT
        </span>
      </div>
      <a-tabs default-active-key="1" style="width: 80%; " size="large">
        <a-tab-pane key="1">
          <span slot="tab">
            <a-icon type="ordered-list" />
            工作区
          </span>
          <span style="font-size: 20px">待取餐：{{orderReadyCount}}</span>
          <div style="width: 100%; margin-top: 40px; overflow:hidden; background: white">
            <div id='home'>
                <div id='middle'>
                    <div id='content'>
                    <div id='area_1'>
                        <div id='area_1_1'>
                        <div id='area_1_1_1'>
                            <a-avatar size="large" shape="square" id='table_1' @click="click_table1()" >1</a-avatar>
                            <a-avatar size="large" shape="square" id='table_2' @click="click_table2()" >2</a-avatar>
                            <a-avatar size="large" shape="square" id='table_3' @click="click_table3()" >3</a-avatar>
                        </div>
                        <div id='area_1_1_2'>
                            <a-avatar size="large" shape="square" id='table_4' @click="click_table4()" >4</a-avatar>
                            <a-avatar size="large" shape="square" id='table_5' @click="click_table5()" >5</a-avatar>
                            <a-avatar size="large" shape="square" id='table_6' @click="click_table6()" >6</a-avatar>
                        </div>
                        </div>
                        <div id='area_1_2_Bar'>Bar</div>
                    </div>
                    <div id='area_2'>
                        <div id ='area_2_1'>
                        <div id='area_2_1_1'>
                            <a-avatar size="large" shape="square" id='table_7' @click="click_table7()" >7</a-avatar>
                            <a-avatar size="large" shape="square" id='table_8' @click="click_table8()" >8</a-avatar>
                        </div>
                        <div id='area_2_1_2'>
                            <a-avatar size="large" shape="square" id='table_9' @click="click_table9()" >9</a-avatar>
                            <a-avatar size="large" shape="square" id='table_10' @click="click_table10()" >10</a-avatar>
                        </div>
                        </div>
                        <div id ='area_2_2'><div id='SaladBar'>SaladBar</div></div>
                        <div id ='area_2_3'>
                        <div id='area_2_3_1'>
                            <a-avatar size="large" shape="square" id='table_11' @click="click_table11()" >11</a-avatar>
                            <a-avatar size="large" shape="square" id='table_12' @click="click_table12()" >12</a-avatar>
                        </div>
                        <div id='area_2_3_2'>
                            <a-avatar size="large" shape="square" id='table_13' @click="click_table13()" >13</a-avatar>
                            <a-avatar size="large" shape="square" id='table_14' @click="click_table14()" >14</a-avatar>
                        </div>
                        </div>
                    </div>
                    <div id='area_3'>
                        <div id='area_3_1_Host'>Host</div>
                        <div id='area_3_2'>
                        <div id='area_3_2_1'>
                            <a-avatar size="large" shape="square" id='table_15' @click="click_table15()" >15</a-avatar>
                            <a-avatar size="large" shape="square" id='table_16' @click="click_table16()" >16</a-avatar>
                        </div>
                        <div id='area_3_2_2'>
                            <a-avatar size="large" shape="square" id='table_17' @click="click_table17()" >17</a-avatar>
                            <a-avatar size="large" shape="square" id='table_18' @click="click_table18()" >18</a-avatar>
                            <a-avatar size="large" shape="square" id='table_19' @click="click_table19()" >19</a-avatar>
                            <a-avatar size="large" shape="square" id='table_20' @click="click_table20()" >20</a-avatar>
                        </div>
                        </div>
                    </div>
                    </div>
                    <div id='sider'>
                      <div id='show_block1'>
                          <a-avatar shape="square" :size="64" style="background: #B5B5B5"/>
                          <p>非本员工负责</p>
                      </div>
                      <div id='show_block2'>
                          <a-avatar shape="square" :size="64" style="background: #00ff00"/>
                          <p>空闲/未点餐</p>
                      </div>
                      <div id='show_block3'>
                          <a-avatar shape="square" :size="64" style="background: #FFFF00"/>
                          <p>已点餐</p>
                      </div>
                      <div id='show_block4'>
                          <a-avatar shape="square" :size="64" style="background: red"/>
                          <p>标记为需要清理</p>
                      </div>
                    </div>
                </div>
                <a-modal v-model="currentTableVisible" :title="currentTableName">
                    <div style="width: 100%; height: 40px; text-align: center;">
                      <div :style="{width: '20px', height: '20px', display: 'inline-block', backgroundColor: statusColor}"></div>
                      <div style="width:50%; height:20px; display:inline-block; font-size: 15px; margin-left:5px;">{{ currentTableStatus }}</div>
                    </div>
                    <template slot="footer">
                        <a-button key="back" @click="setCurrentTableNotVisible">
                        返回
                        </a-button>
                    </template>
                    <a-button type="primary" style="margin-left: 9%; height: 50px; width: 80%; font-size: 20px;" @click="orderThisTable">
                        点 餐
                    </a-button>
                    <a-button type="danger" style="margin-left: 9%; margin-top:20px; height: 50px; width: 80%; font-size: 20px;" @click="setNeedCleaning">
                        标记此餐桌需要清理
                    </a-button>
                    </a-modal>
                </div>
          </div>
        </a-tab-pane>
        <a-tab-pane key="2">
          <span slot="tab">
            <a-icon type="ordered-list" />
            取餐
          </span>
          <div style="width: 100%; margin-top: 40px; overflow:hidden; background: white">
          <a-page-header
            style="border: 1px solid rgb(235, 237, 240)"
            title="请到后厨取以下已完成的菜品"
            sub-title="单击“已取餐”标记已完成取餐"
          />
            <a-table :columns="columns" :data-source="orderList" style="margin-top: 20px;">
              <span slot="action" slot-scope="record">
                <a @click="finishOrder(record)">已完成取餐</a>
              </span>
            </a-table>
          </div>
        </a-tab-pane>
        <a-tab-pane key="3">
          <span slot="tab">
            <a-icon type="robot" />
            终端
          </span>
          <div style="width: 100%; margin-top: 40px; overflow:hidden; background: white">
            <a-avatar shape="square" :size="64" style="margin-top: 10px; color: white; backgroundColor: #f47920">
              Waiter
            </a-avatar>
            <p></p>
            <span style="display: block; margin-left: 15px; margin-right: 15px; font-size:20px;">{{ thisAccount }}</span>
            <a @click="setModifyPasswordVisible">修改密码</a>
            <a-divider />
            <span style="display: block; margin-left: 15px; margin-right: 15px; font-size:20px;">{{ thisStaff.name }}</span>
            <a-divider />
            <span style="display: block; margin-left: 15px; margin-right: 15px; font-size:20px;">{{ thisStaff.position }}</span>
            <p></p>
            <a-button type="primary"
            style="width: 300px; height: 50px; margin-top: 20px; font-size: 20px; margin-bottom: 50px;"
            @click="signOut"
            >
              退 出
            </a-button>
          </div>
        </a-tab-pane>
      </a-tabs>
      <div style="margin-top: 10px; width: 10%">
        <a-avatar size="large" style="color: #f56a00; backgroundColor: #fde3cf">
          W
        </a-avatar>
      </div>
    </a-layout-content>
    <a-layout-footer id="busboy-bottom">
    </a-layout-footer>
    <a-modal v-model="modifyPasswordVisible" title="修改密码">
      <template slot="footer">
        <a-button key="back" @click="setModifyPasswordNotVisible">
          返 回
        </a-button>
        <a-button key="submit" type="primary" @click="modifyPassword">
          提 交
        </a-button>
      </template>
      <a-input addonBefore="输入当前密码：" v-model="checkPassword" type="password"/>
      <a-input addonBefore="输入新密码：" v-model="modifiedPassword" type="password" style="margin-top: 10px"/>
    </a-modal>
  </a-layout>
</template>

<script>
const columns = [
  {
    title: '取餐号',
    dataIndex: 'index',
    key: 'index'
  },
  {
    title: '菜名',
    dataIndex: 'name',
    key: 'name'
  },
  {
    title: '桌号',
    dataIndex: 'table',
    key: 'table',
    width: 80
  },
  {
    title: '厨师',
    dataIndex: 'cookName',
    key: 'cookName',
    ellipsis: true
  },
  {
    key: 'action',
    scopedSlots: { customRender: 'action' }
  }
]
export default {
  name: 'Waiter',
  data () {
    return {
      columns,
      thisAccount: '',
      thisStaff: [],
      currentTableVisible: false,
      currentTableName: '',
      currentTableId: '',
      currentTableNum: '',
      resAccount: '',
      cookList: [],
      currentTableStatus: '',
      statusColor: '',
      modifyPasswordVisible: false,
      checkPassword: '',
      modifiedPassword: '',
      timer: '',
      orderList: '',
      orderReadyCount: 0
    }
  },
  beforeCreate () {
    let checkLoginState = sessionStorage.getItem('loginState')
    if (checkLoginState !== 'waiter') {
      this.$router.push('/')
    }
  },
  async created () {
    this.getData()
  },
  mounted () {
    this.timer = setInterval(this.getData, 1000)
  },
  methods: {
    async getData () {
      this.thisAccount = sessionStorage.getItem('globalAccount')
      const query = await this.$cloudbase.database().collection('staff')
        .where({
          account: this.thisAccount
        }).get()
      this.thisStaff = query.data[0]
      this.resAccount = this.thisStaff.restaurantAccount
      sessionStorage.setItem('thisWaiterAccount', this.thisStaff.account)
      sessionStorage.setItem('thisWaiterName', this.thisStaff.name)
      sessionStorage.setItem('waiterRes', this.resAccount)
      let res = await this.$cloudbase.database().collection('staff')
        .where({
          restaurantAccount: this.resAccount,
          position: 'cook'
        }).get()
      this.cookList = res.data
      res = await this.$cloudbase.database().collection('table')
        .where({
          restaurantAccount: this.resAccount
        }).get()
      let data = res.data
      for (var i = 0; i < data.length; i += 1) {
        let index = data[i].index
        let tid = 'table_' + index.toString()
        if (data[i].waiter !== this.thisAccount) {
          document.getElementById(tid).style.background = '#B5B5B5'
        } else {
          if (data[i].needClean === 'true') {
            document.getElementById(tid).style.background = 'red'
          } else {
            if (data[i].waiterStatus === 'open') {
              document.getElementById(tid).style.background = '#00ff00'
            }
            if (data[i].waiterStatus === 'order') {
              document.getElementById(tid).style.background = '#FFFF00'
            }
          }
        }
      }
      res = await this.$cloudbase.database().collection('waiterOrder')
        .where({
          waiter: this.thisAccount
        }).get()
      this.orderList = res.data
      this.orderReadyCount = this.orderList.length
    },
    signOut () {
      clearInterval(this.timer)
      sessionStorage.setItem('globalAccount', '')
      sessionStorage.setItem('loginState', '')
      this.$router.push('/')
    },
    async setCurrentTableVisible () {
      let query = await this.$cloudbase.database().collection('table')
        .where({
          restaurantAccount: this.resAccount,
          index: this.currentTableNum
        }).get()
      if (query.data[0].waiter === this.thisAccount) {
        if (query.data[0].needClean === 'true') {
          this.currentTableStatus = '需要清理'
          this.statusColor = 'red'
        } else {
          if (query.data[0].waiterStatus === 'open') {
            this.currentTableStatus = '空闲/未点餐'
            this.statusColor = '#00ff00'
          }
          if (query.data[0].waiterStatus === 'order') {
            this.currentTableStatus = '已点餐'
            this.statusColor = '#FFFF00'
          }
        }
        this.currentTableVisible = true
      }
    },
    setCurrentTableNotVisible () {
      this.currentTableVisible = false
    },
    orderThisTable () {
      sessionStorage.setItem('orderedTable', this.currentTableNum)
      this.$router.push('/order')
      this.$cloudbase.database().collection('table')
        .where({
          restaurantAccount: this.resAccount,
          index: this.currentTableNum
        }).update({
          waiterStatus: 'order'
        })
      this.getData()
    },
    setNeedCleaning () {
      this.$cloudbase.database().collection('table')
        .where({
          restaurantAccount: this.resAccount,
          index: this.currentTableNum
        }).update({
          needClean: 'true'
        })
      this.getData()
      this.currentTableVisible = false
    },
    click_table1 () {
      this.currentTableName = '餐桌1'
      this.currentTableId = 'table_1'
      this.currentTableNum = 1
      this.setCurrentTableVisible()
    },
    click_table2 () {
      this.currentTableName = '餐桌2'
      this.currentTableId = 'table_2'
      this.currentTableNum = 2
      this.setCurrentTableVisible()
    },
    click_table3 () {
      this.currentTableName = '餐桌3'
      this.currentTableId = 'table_3'
      this.currentTableNum = 3
      this.setCurrentTableVisible()
    },
    click_table4 () {
      this.currentTableName = '餐桌4'
      this.currentTableId = 'table_4'
      this.currentTableNum = 4
      this.setCurrentTableVisible()
    },
    click_table5 () {
      this.currentTableName = '餐桌5'
      this.currentTableId = 'table_5'
      this.currentTableNum = 5
      this.setCurrentTableVisible()
    },
    click_table6 () {
      this.currentTableName = '餐桌6'
      this.currentTableId = 'table_6'
      this.currentTableNum = 6
      this.setCurrentTableVisible()
    },
    click_table7 () {
      this.currentTableName = '餐桌7'
      this.currentTableId = 'table_7'
      this.currentTableNum = 7
      this.setCurrentTableVisible()
    },
    click_table8 () {
      this.currentTableName = '餐桌8'
      this.currentTableId = 'table_8'
      this.currentTableNum = 8
      this.setCurrentTableVisible()
    },
    click_table9 () {
      this.currentTableName = '餐桌9'
      this.currentTableId = 'table_9'
      this.currentTableNum = 9
      this.setCurrentTableVisible()
    },
    click_table10 () {
      this.currentTableName = '餐桌10'
      this.currentTableId = 'table_10'
      this.currentTableNum = 10
      this.setCurrentTableVisible()
    },
    click_table11 () {
      this.currentTableName = '餐桌11'
      this.currentTableId = 'table_11'
      this.currentTableNum = 11
      this.setCurrentTableVisible()
    },
    click_table12 () {
      this.currentTableName = '餐桌12'
      this.currentTableId = 'table_12'
      this.currentTableNum = 12
      this.setCurrentTableVisible()
    },
    click_table13 () {
      this.currentTableName = '餐桌13'
      this.currentTableId = 'table_13'
      this.currentTableNum = 13
      this.setCurrentTableVisible()
    },
    click_table14 () {
      this.currentTableName = '餐桌14'
      this.currentTableId = 'table_14'
      this.currentTableNum = 14
      this.setCurrentTableVisible()
    },
    click_table15 () {
      this.currentTableName = '餐桌15'
      this.currentTableId = 'table_15'
      this.currentTableNum = 15
      this.setCurrentTableVisible()
    },
    click_table16 () {
      this.currentTableName = '餐桌16'
      this.currentTableId = 'table_16'
      this.currentTableNum = 16
      this.setCurrentTableVisible()
    },
    click_table17 () {
      this.currentTableName = '餐桌17'
      this.currentTableId = 'table_17'
      this.currentTableNum = 17
      this.setCurrentTableVisible()
    },
    click_table18 () {
      this.currentTableName = '餐桌18'
      this.currentTableId = 'table_18'
      this.currentTableNum = 18
      this.setCurrentTableVisible()
    },
    click_table19 () {
      this.currentTableName = '餐桌19'
      this.currentTableId = 'table_19'
      this.currentTableNum = 19
      this.setCurrentTableVisible()
    },
    click_table20 () {
      this.currentTableName = '餐桌20'
      this.currentTableId = 'table_20'
      this.currentTableNum = 20
      this.setCurrentTableVisible()
    },
    setModifyPasswordVisible () {
      this.modifyPasswordVisible = true
    },
    setModifyPasswordNotVisible () {
      this.modifyPasswordVisible = false
    },
    checkPasswordError () {
      this.$notification.open({
        message: '修改失败！请检查当前密码是否正确或是否输入了新的密码',
        icon: <a-icon type="frown" style="color: red" />
      })
    },
    openNotification () {
      this.$notification.open({
        message: '修改成功！',
        icon: <a-icon type="smile" style="color: #108ee9" />
      })
    },
    async modifyPassword () {
      let res = await this.$cloudbase.database().collection('staff')
        .where({
          account: this.thisAccount
        }).get()
      let p = res.data[0]
      if (p.password === this.checkPassword && this.modifiedPassword !== '') {
        this.$cloudbase.database().collection('staff')
          .where({
            account: this.thisAccount
          }).update({ password: this.modifiedPassword })
        this.getData()
        this.modifyPasswordVisible = false
        this.openNotification()
      } else {
        this.checkPasswordError()
      }
    },
    finishOrder (record) {
      this.$cloudbase.database().collection('waiterOrder')
        .where({
          index: record.index
        }).remove()
    }
  }
}
</script>

<style scoped>

#busboy-header {
  text-align: center;
  font-size: 30px;
  color: white;
  letter-spacing: 3px;
  background: #1890ff
}
#busboy-content {
  display: flex
}
#home {
  text-align: center;
  height: 100%;
  width: 100%;
  background:white;
  display: flex;
  flex-direction: column;
}
#header {
  height: 10%;
  width: 100%;
  background: rgb(80, 169, 204);
}
#middle{
  display: flex;
  flex-direction: row;
}
#content {
  height: 550px;
  width: 80%;
  border: 5px solid rgb(92, 92, 92);
  background: white ;
  display: flex;
  flex-wrap:wrap;
  flex-direction: column;
}
#sider {
  height: 550px;
  width: 20%;
  background:rgb(255, 255, 255);
}
#footer {
    height: 10%;
    width: 100%;
    border-top: 2px solid rgb(5, 5, 5);
    background:rgb(255, 255, 255)
}
#area_1 {
  height:150px;
  display: flex;
  flex-direction:row;
}
#area_1_1 {
  width: 75%;
  height: 150px;
  display: flex;
  flex-direction:column;
}
#area_1_2_Bar {
  width: 25%;
  height: 150px;
  border-left: 5px solid rgb(99, 99, 99);
  border-bottom: 5px solid rgb(99, 99, 99);
}
#area_1_1_1 {
  height: 75px;
  display: flex;
  flex-direction:row;
}
#area_1_1_2 {
  height: 75px;
  display: flex;
  flex-direction:row;
}
#area_2 {
  display: flex;
  flex-direction:row;
  height: 200px;
}
#area_2_1 {
  display: flex;
  flex-direction:column;
  height: 200px;
  width:45%;
}
#area_2_1_1 {
  display: flex;
  flex-direction:row;
  height: 100px;
}
#area_2_1_2 {
  display: flex;
  flex-direction:row;
  height: 100px;
}
#area_2_2 {
  display: flex;
  flex-direction:column;
  height: 200px;
  width:20%;
}
#area_2_3 {
  display: flex;
  flex-direction:column;
  height: 200px;
  width:35%;
}
#area_2_3_1 {
  display: flex;
  flex-direction:row;
  height: 100px;
}
#area_2_3_2 {
  display: flex;
  flex-direction:row;
  height: 100px;
}
#area_3 {
  height: 190px;
  display: flex;
  flex-direction:row;
}
#area_3_1_Host {
  width:20%;
  height: 100%;
  border-right:3px solid rgb(68, 68, 68);
  border-top:3px solid rgb(68, 68, 68);
}
#area_3_2 {
  width:80%;
  display: flex;
  flex-direction:column;
}
#area_3_2_1 {
  height: 50%;
  display: flex;
  flex-direction:row;
}
#area_3_2_2 {
  height: 50%;
  display: flex;
  flex-direction:row;
}
#table_1 {
    margin-left:10%;
    margin-top:2%;
    border: 1px solid black;
    background: #B5B5B5
}
#table_2 {
    margin-left:15%;
    margin-top:2%;
    border: 1px solid black;
    background: #B5B5B5
}
#table_3 {
    margin-left:15%;
    margin-top:2%;
    border: 1px solid black;
    background: #B5B5B5
}
#table_4 {
    margin-left:10%;
    margin-top:2%;
    border: 1px solid black;
    background: #B5B5B5
}
#table_5 {
    margin-left:50%;
    margin-top:3%;
    border: 1px solid black;
    background: #B5B5B5
}
#table_6 {
    margin-left:8%;
    margin-top:3%;
    border: 1px solid black;
    background: #B5B5B5
}
#table_7 {
    margin-left:16.6%;
    margin-top:5%;
    border: 1px solid black;
    background: #B5B5B5
}
#table_8 {
    margin-left:64%;
    margin-top:6%;
    border: 1px solid black;
    background: #B5B5B5
}
#table_9 {
    margin-left:16.6%;
    margin-top:5%;
    border: 1px solid black;
    background: #B5B5B5
}
#table_10 {
    margin-left:64%;
    margin-top:4%;
    border: 1px solid black;
    background: #B5B5B5
}
#SaladBar {
  height:80%;
  width: 80%;
  border: 3px solid black;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}
#table_11 {
    margin-left:3%;
    margin-top:8%;
    border: 1px solid black;
    background: #B5B5B5
}
#table_12 {
    margin-left:30%;
    margin-top:8%;
    border: 1px solid black;
    background: #B5B5B5
}
#table_13 {
    margin-left:3%;
    margin-top:5%;
    border: 1px solid black;
    background: #B5B5B5
}
#table_14 {
    margin-left:30%;
    margin-top:5%;
    border: 1px solid black;
    background: #B5B5B5
}
#table_15 {
    margin-left:35%;
    margin-top:1%;
    border: 1px solid black;
    background: #B5B5B5
}
#table_16 {
    margin-left:8%;
    margin-top:1%;
    border: 1px solid black;
    background: #B5B5B5
}
#table_17 {
    margin-left:20%;
    margin-top:3%;
    border: 1px solid black;
    background: #B5B5B5
}
#table_18 {
    margin-left:15%;
    margin-top:3%;
    border: 1px solid black;
    background: #B5B5B5
}
#table_19 {
    margin-left:15%;
    margin-top:3%;
    border: 1px solid black;
    background: #B5B5B5
}
#table_20 {
    margin-left:20%;
    margin-top:3%;
    border: 1px solid black;
    background: #B5B5B5
}
#show_block1 {
  margin-left: 35%;
  margin-top:15%;
  height:60px;
  width: 60px;
}
#show_block2 {
  margin-left: 35%;
  margin-top:25%;
  height:60px;
  width: 60px;
}
#show_block3 {
  margin-left: 35%;
  margin-top:25%;
  height:60px;
  width: 60px;
}
#show_block4 {
  margin-left: 35%;
  margin-top:25%;
  height:60px;
  width: 60px;
}
#order {
  font-size: 45px;
  margin-top: 20px;
}
#router_link {
  color:black;
}
</style>
